[2020-11-05 09:58] enridaga opened #2 "Version"
We should use -SNAPSHOT versioning for builds that are not meant to produce releases.

For an explanation see https://stackoverflow.com/questions/5901378/what-exactly-is-a-maven-snapshot-and-why-do-we-need-it

[2020-11-30 16:01] enridaga opened #3 "Consistent parameter names in URIs"
I suggest using `location`, `namespace` (applied to domain specific properties/types), `media-type` for general-purpose parameters and specify type-specific ones using, for example, `csv.format=DEFAULT` or `json.root` ...

[2020-12-02 15:51] enridaga commented on #3
General properties:

 - location*
 - media-type (default guess from extension)
 - namespace (default uses location)
 - root (default uses location)
 - blank-nodes (default true)

CSV specific:

 - csv.format (default DEFAULT) -> ref apache commons.csv
 - csv.headers (defaults false)

[2020-12-12 09:12] #2 closed

[2020-12-18 16:50] enridaga opened #4 "Cleanup logging framework"
Multiple SLF4J bindings, references to log4j12 could be avoided.

[2020-12-18 16:52] enridaga opened #5 "Add default type for root element"
It would be useful to be able to distinguish root elements from normal containers.

What about adding, for example `rdf:type <urn:facade-x:default#root>`?

[2020-12-18 16:53] enridaga opened #6 "Relational database"
Support relational databases, for example, by developing a connector using JDBC.

[2020-12-18 16:56] enridaga opened #7 "Support Excel and Google spreadsheets"
As the title says

[2020-12-18 16:57] enridaga opened #8 "Support traversing a local directory"
It could be useful to just traverse a local directory and explore its content with sparql.anything

[2020-12-18 16:57] enridaga opened #9 "Support file archives (zip, tar, ...)"
It would be useful to be able to traverse the content of file archives.

[2020-12-22 08:04] luigi-asprino opened #10 "Support bibliographic formats e.g. bibtex"

[2020-12-24 07:57] luigi-asprino opened #11 "Support embedding content to triplify as IRI argument"
[code]

This query should return "Text to triplify with txt triplifier".

[2021-01-14 13:00] seebi opened #12 "java -jar issue: constructing graphs without -f parameter leads to an error"
small issue: the help says TTL is the default but without `-f TTL` I get this exception:

[code]

[2021-01-15 12:22] #4 closed

[2021-01-16 16:23] enridaga commented on #6
Developing R2RML mappings to Facade-X should in principle allow building a component that does query rewriting rather then transform the whole table prior to query execution (like we are doing currently with CSVs ...)

[2021-01-16 16:30] enridaga commented on #6
However, D2RQ seems it is not active ([Github project archived](https://github.com/d2rq/d2rq)), also the other R2RML Java projects mentioned [here](https://www.w3.org/2001/sw/rdb2rdf/wiki/Implementations). I wonder where to find a robust and maintained Java implementation ...

[2021-01-16 16:33] enridaga opened #13 "HTML profiles: DOM, Microdata, RDFa, ..."
HTML can be a data source in many different ways. Currently, we support a CSS-selector and generate a Facade-X representation of the related DOM portions (each solution in a separate graph). We should consider also alternative approaches, for example, referring to well-known approaches to embed data, such as Microdata or RDFa.

[2021-01-16 17:01] enridaga opened #14 "SHACL definition of Facade-X"
It would be a useful tool for validating the output of sparql.anything transformers.

[2021-01-16 17:08] enridaga commented on #5
This would change the example on the front page as:

[code]

[2021-01-16 18:21] enridaga commented on #5
Harder for the JSONTransformer as it delegates to json2rdf - maybe we can transfer the main code inside sparql.anything? This will make it easier to evolve it with the rest of the framework.

[2021-01-16 18:57] enridaga opened #15 "RDF files as resources"
It could be handy to allow users to SPARQL static RDF files using the SERVICE operator. I think SPARQL.anything should include this feature although it is not related to Facade-X so probably we don't want to use the same protocol handler?

[2021-01-16 19:00] enridaga opened #16 "XML triplifier to use default fx: namespace"
Instead of using the file location.

[2021-01-16 19:03] #16 closed

[2021-01-16 19:12] enridaga commented on #5
I think JSON is the only one missing now.

[2021-01-16 19:19] enridaga commented on #8
This would require the engine to recognize that (a) location is a local path and (b) location is an existing directory. When this is the case, the engine should delegate to a special FS2RDF triplifier. The Facade-X representation will use containers for folders and files and key/value pairs for their properties?

[2021-01-27 16:28] luigi-asprino opened #17 "Support triplifications of HTTP Headers when resolving HTTP URLs"

[2021-01-29 16:55] enridaga opened #18 "Implement blank-node=false for CSV, HTML, and XML"
This should be straight-forward for all the currently supported formats.

[2021-01-29 16:59] enridaga commented on #18
This is supported in JSON and Text. To be implemented in XML and HTML.

[2021-01-29 17:27] enridaga opened #19 "Handling namespaces for properties and entities"
At the moment, the namespace option parameter is used as default prefix fro both schema elements and named entities. This may create problems, for example, when joining two CSVs. Users should declare different namespaces to avoid clashes. An easier way may be to use the root entity (file name) as default prefix.

[2021-01-29 17:31] enridaga opened #20 "Improve description of URI schema, removing BNF-like syntax"
As the summary says, currently the documentation gives a false impression that the IRI schema shown is in a formal BNF, which is not.

[2021-01-29 17:34] enridaga opened #21 "Performance: slicing"
A simple way of improving usability with large files is to support a general option to 'slice' content in some ways. Some ideas:

- by indicating the number of containers to be produced, or the maximum number of values
- by indicating the top N slots, or the bottom N
- by indicating a limit in the triples produced.

We may think of others.

[2021-02-11 16:39] luigi-asprino commented on #12
Hi @seebi,
Thanks for reporting this issue, it has been fixed in version 0.0.3.
Luigi

[2021-02-11 16:39] #12 closed

[2021-02-15 15:23] enridaga opened #22 "Support blank space in option values"

[2021-02-15 15:26] enridaga opened #23 "Avoid executing the same transformation multiple times when facade-x IRI built from variable bindings"
facade-x SERVICE IRIs can be dynamically generated from variable bindings. However, the same variables may be evaluated multiple times with the same value, resulting in repeated calls to the SERVICE clause with the exact same parameters!

The executor may remember service calls already performed and avoid repeating the same operation multiple times.

[2021-02-15 15:33] enridaga commented on #23
Clearly, each execution should return the same graph in the new context. For this reason, we need to cache each transformation in memory for the duration of the execution. Future work may include a more sophisticated caching system.

[2021-02-15 15:54] enridaga opened #24 "Include simple logger in cli artefact"
We can use slf4j:slf4j-simple

[2021-02-15 15:56] enridaga commented on #24
This can be used by adding "-Dorg.slf4j.simpleLogger.defaultLogLevel=trace" to the command line invocation.

[2021-02-15 15:56] enridaga commented on #24
Reopening! We still need to update the README about this.

[2021-02-15 16:01] #23 closed

[2021-02-23 17:32] enridaga opened #25 "CLI option --output not working"
The cli ignores the parameter and prints to STDOUT

[2021-02-23 17:33] #25 closed

[2021-02-23 17:35] enridaga opened #26 "CLI: default format depending on query type or output file extension"
ASK / SELECT: application/sparql-results+json
CONSTRUCT: text/turtle

[2021-02-23 18:17] enridaga opened #27 "CLI: support multiple output formats"
And to pick the right serialisation format, accordingly to the following serialisations: JSON, XML, CSV, TEXT, TTL, NT

In the future, we may reuse the io.github.basilapi:rendering library which is based on mime types as format identifiers and supports a large variety of formats.

[2021-02-24 15:32] enridaga opened #28 "facade-x IRI not compliant with IETF scheme"
Jena complains as follows:
[code]
We may change the URI scheme, discussion open in alternatives.

[2021-02-24 15:33] enridaga opened #29 "Support file formats based on mime-types"
We can use io.github.basilapi:rendering library which is based on mime types as format identifiers and supports a large variety of formats.

[2021-02-24 15:33] #27 closed

[2021-02-24 15:34] enridaga commented on #24
Documentation updated.

[2021-02-24 15:34] #24 closed

[2021-02-24 15:44] enridaga opened #30 "New parameter: input"
This feature will allow chaining the output of a previous query to a new one.

When the input is a sparql result set, it will be used as a source of query parameters, following the BASIL convention.

[2021-02-24 17:59] enridaga opened #31 "[html] Invalid local name"
An exception occurs with details:
[code]

[2021-02-24 18:05] enridaga opened #32 "[html] Check HTTP return type before triplifying"
And ignore if not 200. Skip 404, 500, etc ...

[2021-02-24 18:08] enridaga opened #33 "Use input parameters to customise the output filename"
When iterating over input parameters, when multiple files are generated, it would be useful to customise the output filename.
This is useful for creating a collection of RDF files each one identified nicely from the parameters.

For example, having an input including tuples such as
[code]
being able to instruct the tool to use `artistNickname` as (part of the) output filename.

[2021-02-25 13:47] enridaga commented on #26
Still problems with defaults values

[2021-02-25 17:11] enridaga opened #34 "New parameter: load"
This is useful to chain the output of one query into another. RDF files can be loaded and queried along with the output of the service clause(s).

[2021-02-25 17:11] enridaga commented on #34
This is also related to #30

[2021-02-25 17:13] #30 closed

[2021-02-25 17:13] #34 closed

[2021-02-25 19:55] #32 closed

[2021-02-25 19:55] #33 closed

[2021-02-26 16:34] enridaga opened #35 "Facade-X options as basic graph patterns"
It could be useful to support facade-x configuration from within the SERVICE query with magic properties.

[2021-02-26 16:38] enridaga opened #36 "Default facade-x ns uri"
Currently we are using urn:facade-x:ns# but it would be better to use a public one, e.g. http://sparql.xyz/facade-x/ns/

[2021-03-01 14:59] enridaga opened #37 "[html] incorrect placement of text nodes"
Currently, text nodes are misplaced, the content being appended to the last child item.

[2021-03-01 15:02] enridaga opened #38 "[html] Include dom components innerText and dom innerHTML"
It would be very useful in addition to the HTML source data, to also have values from those two elements. However, they should not be represented with the same namespace we use for the content (xhtml:). One option is to use the location of the DOM specification: https://dom.spec.whatwg.org/#.

[2021-03-01 15:02] #37 closed

[2021-03-01 15:02] #38 closed

[2021-03-01 18:33] luigi-asprino commented on #5
Commit 17e049d closes this issue

[2021-03-01 18:33] #5 closed

[2021-03-04 12:17] enridaga commented on #36
Besides, we should distinguish between the namespace of the constants generated by the system (e.g. the type fx:Root) from the default namespace used for generated schema elements from the data (e.g. xyz:name).
What about the following two namespaces?
[code]

[2021-03-05 16:29] enridaga commented on #28
x-sparql-anything:

[2021-03-08 18:15] luigi-asprino commented on #28
Closed with commit bfafebc

[2021-03-08 18:15] #28 closed

[2021-03-08 18:52] luigi-asprino commented on #36
closed with commit 584aef0

[2021-03-08 18:52] #36 closed

[2021-03-08 19:21] luigi-asprino commented on #18
I think we can close this issue

[2021-03-08 19:46] luigi-asprino commented on #18
Not sure how the HTML triplifier implements the blank-node=false option.
@enridaga, could you please check?

[2021-03-08 21:46] luigi-asprino commented on #3
I think that this can be closed

[2021-03-08 21:46] #3 closed

[2021-03-09 16:47] #7 closed

[2021-03-10 18:59] luigi-asprino commented on #15
With 35f9ffe I included a "triplifier" for RDF. I'm not 100% sure that this is the way to go.

[2021-03-10 19:07] luigi-asprino commented on #18
With 63c7c7d777c954134b00299d53202eb0ad04966f I've included a test for blank-nodes=false option for HTML.
The test fails.

[2021-03-15 09:42] enridaga opened #39 "[XML] Reuse declared namespaces when building element types and attribute names (and make sure they end with # or /)"
As the summary says, at the moment, declared namespaces are ignored.

[2021-03-16 07:47] enridaga opened #40 "Refactor package names"
to `com.github.sparqlanything.*`

[2021-03-16 07:51] enridaga opened #41 "Triple pattern filtering"
Currently, triplifiers transform all the data before executing the query. We could use the query expression and extract triple patterns to limit the triples added to the model. The resulting graph could be a subset of the full graph, including all the triples useful to evaluate the query. This approach is easy to implement and may improve performance in some (but not all) cases.

[2021-03-16 17:35] enridaga opened #42 "Audit graph"
We can add an option audit=1 to include a graph with information about the generated, queried graphs, using the SPARQL Service Description Vocabulary and VoID. This would be an optional meta-graph, useful for debugging and troubleshooting.

We can use a new boolean option 'audit=1' (defaults off)

[2021-03-17 10:26] luigi-asprino commented on #42
Better use audit=true

[2021-03-18 08:26] luigi-asprino opened #43 "Relative location seems not working properly for paths like "file.ext""

[2021-03-19 17:43] luigi-asprino opened #44 "automatic detection mime-type"
https://docs.oracle.com/javase/7/docs/api/java/nio/file/Files.html#probeContentType%28java.nio.file.Path%29 ??

[2021-03-23 10:47] enridaga opened #45 "Add CLI parameter 'strategy'"
We are developing alternative approaches to query execution, these should be also available as options in the CLI.

[2021-03-23 14:07] enridaga commented on #45
Let's close this once v0.1.0 is released

[2021-03-26 16:37] enridaga commented on #39
This is implemented but sometimes XML ns don't end with # or /, then, a # should be added before conversion

[2021-03-26 16:45] enridaga opened #46 "Guess output format from output file extension"
At the moment, the CLI wants you to specify the output format as a separate parameter:

[code]
While doing the following generates a JSON file (named .XML) - because the format falls back to defalut/JSON:
[code]

[2021-04-16 11:18] enridaga opened #47 "JSON iterator breaks with Unicode escaped characters"
Unicode escaped characters should be expected in JSON serialisations. However, JsonIterator does not seem to support them and horribly breaks. Could not find a configuration parameter or anything else related to this issue so far.

[2021-04-16 15:36] #47 closed

[2021-04-16 15:37] #45 closed

[2021-04-16 15:37] #42 closed

[2021-04-16 15:37] enridaga commented on #41
This is implemented for JSON and CSV.

[2021-04-20 15:23] luigi-asprino opened #48 "Exception when reading remote CSV"
It seems that CSV Triplifier has a problem when reading remote resources and throws an exception [here](https://github.com/SPARQL-Anything/sparql.anything/blob/72d7bd9bb31c1ac94ae1ce9bf7ea9526728f0d57/sparql.anything.csv/src/main/java/com/github/spiceh2020/sparql/anything/csv/CSVTriplifier.java#L70).
The issue can be reproduced with the query:

[code]

[2021-04-21 08:46] #48 closed

[2021-05-08 06:40] akuckartz opened #49 "JSON:API / Drupal"
Any idea on how to integrate data exposed using a [JSON:API](https://jsonapi.org/) based API ?

That would help to integrate data contained in Drupal-systems. See https://www.drupal.org/docs/core-modules-and-themes/core-modules/jsonapi-module

[2021-05-08 06:44] akuckartz commented on #6
Maybe you can join forces with https://ontop-vkg.org/ ?

[2021-05-08 07:16] akuckartz commented on #6
https://ontop-vkg.org/guide/

[2021-05-09 09:14] akuckartz opened #50 "Collaborate with Ontop"
Please collaborate with Ontop.

See
* https://github.com/ontop/ontop
* https://ontop-vkg.org/

This was allready suggested in #6

[2021-05-10 08:13] enridaga commented on #6
Definitely something to try! The open question is whether mappings in R2RML can be defined at the meta level (for example, expressing things such as "for each table/column" without needing to actually encode the schema elements in the mappings. If this is possible, we could design mappings to Facade-X once for all and give to users access to any RDB on the fly.

[2021-05-10 08:22] enridaga commented on #49
For what I can see from the specification, APIS built using the JSON:API spec return a specific form of JSON. If the request can be made as an HTTP GET I guess it is sufficient to write a SERVICE clause such as:
[code]
This will allow to query the content through Facade-X

[2021-05-28 15:52] alexdma opened #51 "Support CSV first row as header"
If my CSV has a first row as header, as in the example:
<pre>email,id,first name,last name<br/>laura@example.com,2070,Laura,Grey<br/>craig@example.com,4081,Craig,Johnson<br/>mary@example.com,9346,Mary,Jenkins<br/>jamie@example.com,5079,Jamie,Smith<br/></pre>
could I supply an option for the headers to provide additional property bindings (escaping spaces and all) instead of `rdf:_x`?

Based on the

[2021-05-29 07:37] #11 closed

[2021-05-29 08:00] #15 closed

[2021-06-01 10:30] luigi-asprino commented on #35
This should have been addressed by commit e8125a34249c9dbe9f49e9d92c2d1759f7343ce1

[2021-06-03 17:01] luigi-asprino commented on #9
A greedy strategy has been implemented with commit 4346a3bd4a66ed9d73119cd653d381fb0ffde619

[2021-06-03 17:01] #9 closed

[2021-06-03 17:01] #8 closed

[2021-06-12 09:53] enridaga commented on #51
Passing x-sparql-anything protocol options via -D java properties is not supported.
Two ways to do that:

- within the x-sparql-anything uri, e.g.: `x-sparql-anything:location=...,csv.headers=true`
- using magic properties, since #35  (however this is a new feature and it is not documented yet

[2021-06-12 09:55] enridaga commented on #35
I reopen this one to discuss my comment to e8125a3 and to wait until we have at least basic documentation of the feature in the readme

[2021-06-12 11:19] enridaga opened #52 "JSON numbers with zeros"
Apparently, JSON triplifier produces a 0 value for each number including 0!

[2021-06-12 11:19] #52 closed

[2021-06-13 16:01] justin2004 opened #53 "discussion: more facades for less work"
instead of implementing (from scratch) facades for different file types from i was wondering if it might be helpful to make use of visidata's loaders. visidata has a [couple dozen](https://www.visidata.org/formats/) implemented already in what they call [loaders](https://github.com/saulpw/visidata/tree/stable/visidata/loaders).

[visidata](https://www.visidata.org/) treats all data as sheets (so i

[2021-06-17 13:43] enridaga opened #54 "XML namespaces without ending / or #"
Sometimes XML namespace are declared without an ending / or #, therefore, reusing them for generating URIs results in malformed entities.

e.g.: http://www.w3.org/XML/1998/namespacelang or http://www.w3.org/XML/1998/namespaceid instead of http://www.w3.org/XML/1998/namespace#lang http://www.w3.org/XML/1998/namespace#id

[2021-06-17 13:51] #54 closed

[2021-06-17 16:32] enridaga opened #55 "Pass variable bindings from the CLI interface"
It may be useful to enable the specification of variable bindings directly from the cli. E.g.:
[code]

[2021-06-18 10:25] alexdma commented on #51
Thanks, hadn't realised that was the way to pass properties too.

Can the convention for encoding whitespaces in headers be customised? By default, if I scan for properties on the above example (with a `SELECT ?property`), the result set shows bad URIs like

    <http://sparql.xyz/facade-x/data/last name>

 which I cannot seem to be able to use in actual queries:
* `<http://sparql.xyz/facade-x/dat

[2021-06-18 10:53] enridaga commented on #51
Good catch! Exploring the characters to encode in URL paths, which are different from the ones in the query part. This may be useful: https://stackoverflow.com/a/2849800/1035608

[2021-06-18 11:40] enridaga commented on #51
7c3829383807b59d5f8539028bb510d4402c283b should provide a fix. Does it solve the problem?

Another related issue is that probably we should format local names in the builder class and have a unified strategy but this requires some more thought, probably.

[2021-06-18 12:10] enridaga opened #56 "Consistent way to generate URIs"
Currently, facade keys are passed by triplifiers assuming that they are well-formed local names (slash or hash). We should centralise the preprocessing of keys in the facadeXbuilder (and make ourself clear about what type of preprocessing is needed)

[2021-06-18 12:12] alexdma commented on #51
Yes, URLencoding works just fine, both in the example and the data I'm working with.

[2021-06-18 14:28] alexdma opened #57 "sparql.anything.parser won't automatically build on Eclipse 4"
When building the entire project on

    Eclipse 2020-12 (4.18.0) with embedded Maven 3.6.3 runtime
    OpenJDK 64-Bit Server VM (build 11.0.11+9-Ubuntu-0ubuntu2.18.04)

`sparql.anything.parser` throws Java build errors due to not being able to find the parser/lexer classes generated by antlr.

M2E recognises the `target/generated-sources/antlr4` folder as a source folder, however the .java files

[2021-06-18 15:13] alexdma opened #58 "Use media-type property as HTTP Accept header?"
If I wanted to use SPARQL-Anything as a proxy to an existing HTTP API, the latter does not usually provide something like a filename extension to guess the content type.

Since there is a property `media-type` that is used internally to select the triplifier, could it also be sent as an Accept header in the HTTP request being proxied?

Say, for an ORCID (pretending it didn't have an RDF API), I wo

[2021-06-18 16:03] enridaga commented on #57
Maybe we can add options for specify headers to be used in the HTTP connection, for example: `http.header.accept`, `http.header.cache-control`, ... This may also include adding authentication credentials. However, this requires developing a class for HTTP related operations so that all triplifiers can benefit from it. In general, content retrieval is in most cases independent from the format (unti

[2021-06-18 16:03] enridaga commented on #58
Maybe we can add options for specify headers to be used in the HTTP connection, for example: `http.header.accept`, `http.header.cache-control`, ... This may also include adding authentication credentials. However, this requires developing a class for HTTP related operations so that all triplifiers can benefit from it. In general, content retrieval is in most cases independent from the format (unti

[2021-06-21 07:29] alexdma commented on #58
Indeed, the next thing I was going to propose was support for HTTP authentication - the data API in my use case is behind one

[2021-06-23 14:56] alexdma opened #59 "JSON unit tests fail on Java16"
In the following environment:

    Apache Maven 3.8.1 (05c21c65bdfed0f71a2f2ada8b84da59348c4c5d)
    Maven home: /usr/local/Cellar/maven/3.8.1/libexec
    Java version: 16.0.1, vendor: AdoptOpenJDK, runtime: /Library/Java/JavaVirtualMachines/adoptopenjdk-16.jdk/Contents/Home
    Default locale: it_IT, platform encoding: UTF-8
    OS name: "mac os x", version: "11.4", arch: "x86_64", family: "mac"

[2021-06-24 21:57] Aklakan commented on #6
Hi, just some input which might be of interest here:

In [SANSA](https://github.com/SANSA-Stack/SANSA-Stack) we created an integration of ontop and [sparqlify](https://github.com/SmartDataAnalytics/Sparqlify) with Apache Spark. Disclaimer: I am the developer of the sparql-to-sql rewriter Sparqlify.

For this purpose we created this jena-based [R2RML layer](https://github.com/SmartDataAnalytics/r2r

[2021-06-24 22:11] Aklakan opened #60 "Registry for custom SERVICE handlers"
Jena lacks a system for having multiple SERVICE handlers to coexist peacefully next to each other.
Currently custom implementations of OpExecutor are needed such as [FacadeXOpExecutor](https://github.com/SPARQL-Anything/sparql.anything/blob/982332ee1043f385192199b841e957472484d1a0/sparql.anything.engine/src/main/java/com/github/spiceh2020/sparql/anything/engine/FacadeXOpExecutor.java#L154) or [OpE

[2021-06-25 10:34] luigi-asprino commented on #59
Hi @alexdma thank you for reporting this issue.
We didn't tested Java16 version yet since the framework has been developed on top of Java11.
Anyway, all the errors seem to be related with ``jsoniter`` which we plan to replace soon.

[2021-07-08 17:53] #51 closed

[2021-07-08 17:56] enridaga commented on #55
This will be implemented by adding the argument `-v|--values`. The argument can be repeated for multiple bindings.

[2021-07-08 17:59] enridaga opened #61 "API pagination with parameter bindings as range of integers"
One useful thing is to generate API calls dynamically to paginate remote resources. A possible solution is to support a special syntax for inline param values (see #55), for example: `-v page=1...10` could be equivalent to: `-v page=1 -v page=2 -v page=3 ... -v page=10`

[2021-07-08 18:00] enridaga commented on #61
I am not 100% sure this is a neat way of doing it, so I leave this issue open for discussion.

[2021-07-08 18:01] #55 closed

[2021-07-14 08:31] enridaga opened #62 "Move dependency management to parent pom"
Dependencies are currently either enforced by the parent pom or scattered in local modules.
Parent pom should not include dependencies but declare a dependencyManagement section, where artefacts and versions are declared for all modules. Local modules will need to declare the needed dependencies, without specifying the version, though.

[2021-07-14 08:32] #62 closed

[2021-07-23 00:06] justin2004 commented on #61
@enridaga  speaking of API pagination, what about API HTTP headers?

e.g.
[code]

is there anywhere to add the authorization header in sparql anything?

[2021-07-23 03:01] justin2004 commented on #61
turns out the answer is no.
but i see where to add it so i am working on it.

hopefully it will be a welcome addition to sparql anything.

[2021-07-24 00:51] justin2004 opened #63 "service silent"
https://www.w3.org/TR/2013/REC-sparql11-federated-query-20130321/#service

[code]

returns:
[code]

[2021-07-24 01:20] justin2004 opened #64 "discussion: SPARQL endpoint"
https://www.w3.org/TR/2013/REC-sparql11-federated-query-20130321/

[code]

so a critic of sparql-anything might say that the URI inside the following <> is no SPARQL endpoint
[code]
because it doesn't respond to all SPARQL Protocol requests.

i feel like sparql-anything might address this concern because the scheme is `x-sparql-anything:` and not `http:`.

have you thought about this critique or d

[2021-07-24 01:38] justin2004 commented on #49
i was able to successfully do something like this today. the API endpoint returns json but i needed to add an HTTP header in the request (with an authorization token).

so i had to do a [fork](https://github.com/justin2004/sparql.anything/tree/http-header-support) which additionally treats all properties as HTTP headers.

then i just did something like:
[code]

[2021-07-24 13:00] justin2004 opened #65 "http redirects"
programmatically downloading this public google sheet involves an http redirect.

[code]

if you follow the redirection it looks like the resource is
[code]
but you need some additional http headers to download it (which the redirection process adds).

now with
[code]
i think sparql-anything might be corrupting the url:
[code]
see how the `=csv` is missing at the end

[2021-07-26 12:47] justin2004 opened #66 "discussion: how to flag properties to be used a HTTP headers"
in order to talk to many REST APIs you need to add HTTP headers like the following example from amazon alexa:

[code]
https://developer.amazon.com/en-US/docs/alexa/custom-skills/linked-data-api-reference.html#header-of-the-request

in this [fork](https://github.com/justin2004/sparql.anything/tree/http-header-support) i've just been making all properties serve double duty as properties for sparql-a

[2021-07-26 16:54] enridaga commented on #66
Dear Justin, this comes at the right time!
I am currently working on using Apache HTTP client and enable settings via properties.  I Will look into your fork to get a better idea of your use case. The update should cover HTTP methods, headers, and authentication, among other things. I am on leave now but should get this released at the beginning of August.

[2021-07-26 16:55] enridaga commented on #58
This also relates to #66

[2021-07-26 17:59] enridaga commented on #65
There may be a limitation in the way properties are expressed in the service URI (I think escaping the = with \= may work).

However, the following method is more robust and seems to work:
[code]
PREFIX xyz: <http://sparql.xyz/facade-x/data/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX fx: <http://sparql.xyz/facade-x/ns/>

SELECT *

WHERE {
	SERVICE <x-sparql-anything:> {
	  f

[2021-07-26 18:00] enridaga commented on #65
BTW, while working on #66 the HTTP Client should also follow redirect by default.

[2021-08-04 08:59] enridaga opened #67 "Configurable HTTP Client"
When resources are HTTP URLs, users should be able to configure the request. Adding a flexible, customisable HTTP client would allow querying complex Web APIs, including authentication, methods other than GET, etc ...

This use case has emerged in several issues, so far: #58 #66 #65 #49

[2021-08-04 09:11] enridaga opened #68 "Triplifier.getInputStream, remove charset argument"
A charset can be derived directly by the properties passed.

[2021-08-04 09:26] enridaga commented on #60
I agree it would be useful to have such flexibility. Please keep us updated!

[2021-08-04 09:44] enridaga commented on #64
That's an interesting point. I am not sure about how extensive the SPARQL protocol is assumed to be used in SERVICE clauses, apart from the GET/POST query methods. However, the goal of this system is to enable access to diverse resources and limiting as much as possible changes to the SPARQL syntax. Overriding the SERVICE clause seemed to be a good option. We may even argue that this limitation of

[2021-08-04 11:09] justin2004 commented on #64
one thing of value is the ability to do something like this:

[code]

i totally agree with the goal:

so i'd like to see that sparql-anything checks all the boxes!

[2021-08-04 13:45] enridaga commented on #64
I think that query is supposed to work if `?endpoint` is a URL to the SPARQL endpoint. If it doesn't, I think this is a BUG!

[2021-08-04 13:58] enridaga commented on #64
I checked the following two queries and both run smoothly with the current version at `0.3-DEV`:
[code]
and
[code]

So, going back to your original query:
[code]
and assuming you have a local file in N-Quad to pass to the CLI option `--load`,  which will have the data expected in `graph` part of the query, the `service` call should work.

[2021-08-04 14:03] enridaga commented on #53
Thank you for the pointer, that's a brilliant project and you're right, the philosophy is pretty much the same!
I see the project is in python, though, not sure how efficiently to reuse it from our Java codebase.
Surely an example for us!

[2021-08-04 23:33] justin2004 commented on #64
my colleague pointed this out to me today:
https://github.com/w3c/sparql-12/issues/10

it seems other teams are interested in relaxing the spec about what can a service clause URI can refer to.

and this as well:
https://github.com/oeg-upm/morph-gft/blob/10a83c72020c738eafdf9f13b2491e9056f39243/oegmembers.sparql#L12

[2021-08-05 00:35] justin2004 commented on #64
from the comment
https://github.com/w3c/sparql-12/issues/10#issuecomment-892768925

i do like the get:soft idea
[code]

also get:refresh is helpful too.

if sparql-anything were to do something like that it would have to maintain a TDB (as a cache) though. not a terrible idea.

[2021-08-05 23:36] justin2004 opened #70 "discussion: bidirectionality"
we can consume from, say, a csv file but it might be interesting to think about inserting into a csv file too.

e.g.

/mnt/test3.csv:
[code]

and then something like this:
[code]

could turn /mnt/test3.csv into:
[code]

[2021-08-05 23:43] justin2004 opened #71 "mix and matching options (in service URI and as triple patterns) doesn't work"
all in triple patterns works:
[code]

[code]

but mix and matching doesn't:
[code]

[code]

[2021-08-14 17:14] justin2004 commented on #71
it isn't just 'csv.headers.' the same problem exists with 'media-type' and others.

[2021-08-18 22:45] justin2004 opened #73 "SPARQL property path error"
aa.ttl
[code]

loading those triples into Fuseki (not SPARQL-Anything) you can run this query:
[code]

and get results:
[code]

but with SPARQL-Anything:
[code]

result:
[code]

and this is in the log:
[code]
even though the location is provided.

this does work as expected:
[code]

result:
[code]

here is the sparql algebra for a query involving that kind of property path:
[code]

[2021-08-19 00:45] justin2004 opened #74 "optional graph pattern"
using this turtle file:
https://gist.github.com/justin2004/fddd79bb9389e2ddd12b97b7ed3eb7a5#file-ashtab_small_format-ttl

[code]

yields:
[code]

as expected.

but this:
[code]

yields:
[code]

which is unexpected because when you make that graph pattern non-optional `guideline_mag_with_units` gets a binding.

just to make sure i loaded the same turtle file into Fueski (without SPARQL-anything) an

[2021-08-19 00:49] justin2004 commented on #74
one clue might be that when you have the optional graph pattern in the query the logs show:
[code]

but when you don't have the optional graph pattern in the query the logs show:
[code]

so it might be that the optional graph pattern prevents some variables from being shared?

[2021-08-19 00:58] justin2004 commented on #74
ah, i think this confirms that that is the cause of the bug.

this query:
[code]

yields:
[code]

notice how ?div_div is bound to `_:b1` and ?div_div2 is bound to `_:b2` even though in the source turtle file they are the same blank node. so i think that means that running the triplifier 2 times is causing this.

[2021-08-21 02:15] justin2004 commented on #65
just wanted to note that i was able to escape an = with two backslashes today.

i got the idea from looking at this line:
https://github.com/SPARQL-Anything/sparql.anything/blob/fc9b4f1e41db4102d38abe7c31ed527ea89d63fd/sparql.anything.parser/src/main/antlr4/FacadeIRI.g4#L74

[2021-08-21 11:38] justin2004 opened #75 "fx:properties -- order matters but it shouldn't"
this order works
[code]

[code]

but this doesn't
[code]

[code]

[2021-08-22 15:31] justin2004 commented on #74
with #76 this now works as expected.

[code]

yields:
[code]

because the triplifier only runs once at the opService level.

[2021-08-23 14:48] #74 closed

[2021-08-23 14:49] enridaga commented on #61
This is now possible with #67

[2021-08-23 14:49] enridaga commented on #61
I would say this issue can be closed.

[2021-08-23 14:49] #61 closed

[2021-08-23 15:07] enridaga commented on #58
It is now possible to specify an accept header, after #67

I think reusing the media-type property can also be an option but less robust than adding a specific one. I am incline to close this one, unless others believe there is a value in implementing this.

[2021-08-23 15:24] enridaga commented on #65
Are you sure? In principle, you should only use two if you are into a Java String. To check that, I added one test which reads the string from a file, using a single backslash: 2676a7f6f5a05fbd1766967c0bbaec59122188a3

[2021-08-23 15:25] enridaga commented on #65
Anyway, if the problem with the escaping persists, probably better to open another issue. The original problem of this one seems resolved.

[2021-08-23 15:26] enridaga commented on #66
Fixed with #67

[2021-08-23 15:26] #66 closed

[2021-08-23 15:27] enridaga commented on #39
This is resolved

[2021-08-23 15:27] #39 closed

[2021-08-23 15:30] enridaga commented on #35
Better to refer to this feature as properties in BGP rather than magic properties
Anyway, this is now documented in the readme

[2021-08-23 15:30] #35 closed

[2021-08-23 16:16] enridaga commented on #71
I just created a new test in the integration tests module to verify mixed options and it seems to work. I haven't tested yet from the fuseki instance, though.

[2021-08-23 17:07] justin2004 commented on #71
nice. i'll test out from the fueski instance later this afternoon.

[2021-08-23 22:55] justin2004 commented on #65
ah, yes. you are right. i was evaluating the sparql select from within a bash shell so it was similar to being in a java string.

i agree. this one is fixed.

[2021-08-23 22:58] justin2004 commented on #58
yeah this i think is what @alexdma wants:

[2021-08-24 08:08] #58 closed

[2021-08-24 08:09] #65 closed

[2021-08-25 09:09] enridaga opened #77 "Is fx:anySlot equivalent to rdfs:member already available in Jena?"
AnySlot matches all container membership properties, it looks like this is the same as the rdfs:member. Tests needed.

[2021-08-25 09:19] enridaga opened #78 "Functions with container membership properties"
Useful functions are:

- previous(rdf:_2) -> rdf:_1
- next(rdf:_2) -> rdf:_3
- before(rdf:_1,rdf:_10) -> true
- after(rdf:_10,rdf:_1) -> true

[2021-08-25 12:03] enridaga commented on #78
Others:

- forward(rdf:_2, 3) -> rdf:_5
- backward(rdf:_5, 3) -> rdf:_2

[2021-08-25 15:30] justin2004 opened #79 "Building on docker/ubuntu:latest: test currently failing"
i'm not sure why the github workflow isn't experiencing the test failure as well.

using a bash shell:
[code]

yields:
[code]

[2021-08-27 10:18] enridaga opened #80 "Missing logs in tests"
Currently, maven tests show the following warning:
[code]

[2021-08-27 10:25] enridaga opened #81 "Missing logs in fuseki"
Same problem as #80

[2021-08-27 10:26] #81 closed, assigned to nobody

[2021-08-27 10:29] enridaga opened #82 "Web app GUI not working (500)"
Log meesage is: `org.eclipse.jetty.server.HttpChannel - handleException /sparql java.io.FileNotFoundException: src/main/resources does not exist.`

[2021-08-27 11:08] #79 closed, assigned to nobody

[2021-08-28 12:17] justin2004 commented on #71
seems to be working with fuseki too.

[2021-08-31 15:56] #82 closed

[2021-09-01 08:19] enridaga opened #83 "How to use variables in options passed with fx:properties ?"
FX properties are removed from the query pattern before evaluation.

For example, the following query does not work:
[code]
While this seems to work:
[code]
and this is a temporary solution:
[code]

However, setting properties dynamically is very useful.

[2021-09-01 11:34] justin2004 commented on #83
yes!

i also encountered the `fx:properties fx:location ?location` problem and i tried to fix the case where you use bind to set `?location`.

basically i wanted to get "fred" into ?o in the (bgp):
[code]

i was hoping there was a swift solution so i tried:
org.apache.jena.sparql.algebra.optimize.TransformSimplify
org.apache.jena.sparql.algebra.optimize.TransformEliminateAssignments/eliminate
org.

[2021-09-01 11:37] enridaga opened #84 "Bug in output-pattern variable replacement"
Variables in the input SPARQL result set file are: `file`, `filename`, and `location`. Output pattern is `/path/?filename.ttl`.
Variable `file` is replaced instead of `filename` in the output pattern.

[2021-09-01 14:29] #84 closed

[2021-09-01 14:32] enridaga commented on #83
One way of doing it is to postpone the execution of the inner SERVICE clause until all variables mentioned in `fx:properties` statements are evaluated. One implication is that the related BGP cannot be removed from the SERVICE clause until then, and this may create other problems (e.g. with caching).

[2021-09-02 16:02] Aklakan commented on #60
Hi, I finally got around to create a Jira issue and made a proposal for the SERVICE extension point: https://issues.apache.org/jira/browse/JENA-215

Looking forward to hearing your opinion :)

[2021-09-06 01:07] justin2004 commented on #6
i think R2RML needs `rr:tableName` but usually there is a table of tables (and a table of columns), right?

e.g. in postgres:
[code]

if there is a common JDBC way to get at the table of tables then we could macro expand to produce the R2RML as needed.
if there is not a common JDBC way to get at the table of tables then we could just make a big switch statement with a case for each flavor of RDB.

[2021-09-06 01:15] justin2004 commented on #21
I think having an option to use an on-disk TDB instead of an in-memory graph might be the easiest approach.
Though that is less about performance and more about memory requirements.

[2021-09-06 01:18] justin2004 commented on #22
I think #83 might address this.

Because you can do things like:
`fx:properties fx:location "/mnt/some folder name/a.ttl"`
but you can't
`fx:properties fx:location ?loc`

[2021-09-06 01:28] justin2004 commented on #43
works for me using fuseki:

[code]

[code]

[2021-09-06 01:29] justin2004 commented on #44
same as #29 ?

[2021-09-06 01:32] justin2004 commented on #49
@akuckartz i think this works.

here is an example using the arxiv  REST API. it returns xml instead of json but sparql anything handles the json just fine too.

https://github.com/justin2004/weblog/tree/master/dynamic_pagination_with_sparql_anything

[2021-09-06 01:38] justin2004 commented on #70
i've since learned this is called "lifting and lowering."

[2021-09-06 01:48] justin2004 commented on #78
nice.

yeah, you could do math on the slot number but that is tedious:
`bind(xsd:integer(replace(str(?p),str(rdf:_),"")) as ?p_num)`

[2021-09-07 11:42] enridaga opened #86 "Function `serial`"
I have a use case in which I need to generate a CSV from data extracted from a number of JSON files. Ideally, the CSV should include a numeric ID. I am not 100% sure but I believe that generating a serial id is not something doable in SPARQL. If this is true, maybe I want SPARQL Anything to have a function such as `fx:serial` that generates an incremental ID during query execution.

[2021-09-07 12:24] justin2004 commented on #86
if it doesn't need to be sequential but just unique there is struuid(): https://www.w3.org/TR/sparql11-query/#func-struuid

EDIT: i was comment happy. clearly `serial` means you want this to be sequential.  :S

[2021-09-10 09:14] enridaga commented on #86
That was useful anyway as I double-checked my options in SPARQL and finally used an md5, numeric hash, which is deterministic on a number of key fields. Good enough for now but still I would like to have `serial` at some point.

[2021-09-10 09:15] enridaga opened #87 "DOCX format"
As the title says.

[2021-09-10 09:45] enridaga opened #88 "BASIL template variables matched in comments"
Strings such as `?_location` should be ignored when in comments.

[2021-09-10 10:05] enridaga opened #89 "Triple filtering strategy broken with BIND in UNION statements"
When the query pattern includes a UNION statement no triple is loaded. This works correctly when passing -s 0 .
The problem is that -s 1 is the default on supported transformers such as JSON!

[2021-09-10 10:16] enridaga commented on #89
The UNION patterns seem considered properly: https://github.com/SPARQL-Anything/sparql.anything/blob/e23028d1a868203bc96ea13e754435573c1274e7/sparql.anything.model/src/main/java/com/github/spiceh2020/sparql/anything/model/TripleFilteringFacadeXBuilder.java#L333

[2021-09-10 10:25] enridaga commented on #89
I reproduced the error and it seems that the problem is not the UNION but the BIND statement. However, it seems happening only when inside a UNION statement! Will prepare a test case.

[2021-09-10 10:33] enridaga commented on #89
This the problem is this, instead, where the `opAssign` is not considered by the triple filtering method: https://github.com/SPARQL-Anything/sparql.anything/blob/e23028d1a868203bc96ea13e754435573c1274e7/sparql.anything.model/src/main/java/com/github/spiceh2020/sparql/anything/model/TripleFilteringFacadeXBuilder.java#L311

[2021-09-10 10:53] enridaga commented on #89
Precisely, the bug occurred when two UNION clauses included a BIND operator.

To reproduce with released version v0.3.0:

File content:
`
{ "field":true }
`

Query:
[code]
Running `fx -q queryFile -f CSV should return 4 rows:
[code]
but, with version `v0.3.0`, you get an empty result set.

[2021-09-10 15:53] #89 closed, assigned to nobody

[2021-09-11 15:17] justin2004 opened #90 "question: can you use strategy with fuseki?"
can you specify strategy in an fx:property or in the service URI?

[code]

[2021-09-13 14:10] luigi-asprino commented on #83
That's exactly the behaviour I tried to implement.
If a variable is detected as object of a triple having fx:properties as subject (e.g. fx:properties fx:location ?loc) an UnboundVariableException is raised (cf. [here](https://github.com/SPARQL-Anything/sparql.anything/blob/99e390c55f15c0c3d44ffc457bf4050e35461cd9/sparql.anything.engine/src/main/java/com/github/spiceh2020/sparql/anything/engine/Fa

[2021-09-13 14:17] enridaga commented on #90
There is a general point about using numerous CLI options with the Fuseki server. One possibility is to move the implementation details outside the SPARQL Anything CLI class to a more general manager that can be then reused within servlets as well.

[2021-09-13 15:03] enridaga opened #91 "Reusable and consistent triple builder"
Triplifiers should not create triples locally but reuse a general, consistent method. This is partly implemented in #41 but should be generalised and used also for strategy '0' (all triples). The code of each one of the Triplifier should be reviewed to use a common method (based on the `FacadeXGraphBuilder` interface).

[2021-09-13 16:15] enridaga commented on #91
After some preparation and cleanup, next step is to enforce the use of the following method by all Triplifiers:
[code]

[2021-09-13 16:39] enridaga commented on #91
Next step is to reimplement the triplifiers to use the provided FacadeXGraphBuilder. This should then also resolve #41

[2021-09-14 07:09] luigi-asprino commented on #83
4ce6d3bd80a938941afb9b2b6c959d96609ff453 should fix this issue (at least partially)
The rationale of the commit is: if a variable (e.g. ?location) is detected in the property-BGP and the variable is assigned through a table (i.e. VALUES), then the variable is evaluated before processing the SERVICE clause.
However, this works only if the the table is inside the SERVICE clause

[code]

but not for

[2021-09-14 10:04] enridaga commented on #83
Thank you for looking into this, it makes a lot of sense. My original use case was using the VALUES clause to get the location from parameters passed through the CLI feature `-i,--input <input> `. I will test it by moving the values clause inside the SERVICE operator.

[2021-09-14 10:19] enridaga commented on #83
Indeed, the following query is working nicely:
[code]
Executed as
[code]

[2021-09-14 12:27] justin2004 commented on #83
@luigi-asprino

this works:
[code]

but this does not:
[code]

so right now it looks like the OpService is necessary for fx:properties variables.
that might cause confusion since OpService isn't required for lots of other queries.

also bind() becomes OpExtend which seems to be a little different than OpTable as this does not work:
[code]

[2021-09-14 13:07] luigi-asprino commented on #75
Thanks for reporting on this. I've created a unit test for assessing this (see [here](https://github.com/SPARQL-Anything/sparql.anything/blob/7fb91ddfa4fe991ce2a201ae41307e78076eccda/sparql.anything.it/src/test/java/com/github/spiceh2020/sparql/anything/it/ItTest.java#L511)) which fires two queries:

[code]

and

[code]
Then it stores the bindings of the variable ?a into two different lists and it

[2021-09-14 13:19] justin2004 commented on #90
@enridaga now you've got me wondering if we can just use the fuseki server for everything you want to do.

as i look at the cli options...
(just thinking out loud)

--format  can be done with      curl -H 'Accept: application/something'

--input    i need to try first to understand what it does

--load    i think the case of a single file and a directory is already handled with a `<x-sparql-anythi

[2021-09-14 15:23] enridaga opened #92 "fx:anySlot magic property ignored by Triple Filtering strategy"
This emerged while implementing #41 on the `TextTriplifier`, which broke `ItTest.testAnySlotMagicProperty()`

[2021-09-14 15:26] #92 closed, assigned to nobody

[2021-09-14 15:41] luigi-asprino commented on #83
This commit a2ce6a785390e031891035b92018cc76babb26e0 should address the assignment via BIND operator.

[2021-09-14 15:41] #83 closed

[2021-09-14 15:52] luigi-asprino commented on #77
It is not and can't be since magic properties doesn't work within service clause and that's perfectly makes sense since the SERVICE operator is executed by an external query engine.
fx:anySlot wasn't implemented as standard Jena's magic property, but required a proper handling of the BGP instead.
I think that this can be closed

[2021-09-14 15:52] #77 closed

[2021-09-16 02:26] justin2004 commented on #83
bind also works for me now.

but the OpService is still necessary. this is minor i think but it might cause confusion for some users.
that is, this does not work when you invoke the `sparql.anything` fuseki endpoint:
[code]

but it would be nice if [postponing the execution of a service clause](https://github.com/SPARQL-Anything/sparql.anything/issues/83#issuecomment-910345022) would, in general,

[2021-09-16 02:41] justin2004 commented on #75
@luigi-asprino i can't reproduce it now either. i even went back the commit 26 days ago.

sorry about the false alarm!

[2021-09-16 04:51] luigi-asprino commented on #75
No problem, let's close it.

[2021-09-16 04:51] #75 closed

[2021-09-16 04:54] luigi-asprino commented on #83
That's true. However you can maybe have the same behaviour by nesting the two service clause.

[2021-09-16 05:27] luigi-asprino commented on #71
I think we can close this issue

[2021-09-16 05:27] #71 closed

[2021-09-16 05:34] luigi-asprino commented on #57
@alexdma , thanks a lot for the suggestion!

[2021-09-16 05:34] luigi-asprino commented on #57
Closed via 0ef15c9

[2021-09-16 05:34] #57 closed

[2021-09-16 05:44] #43 closed

[2021-09-16 05:50] luigi-asprino commented on #22
I think that this is addressed by [passing the options in the BGP](https://github.com/SPARQL-Anything/sparql.anything#passing-triplification-options-via-basic-graph-pattern)

[2021-09-16 05:50] #22 closed

[2021-09-16 21:56] justin2004 opened #93 "html triplifier -- slots only connect to their own container"
at HEAD i think the html triplifier is broken:

[code]

yields:
[code]

but at commit 23e8075d50a0da198c3eeba6cd1d80c62f02b8f3 the result looks like:
[code]

[2021-09-17 17:26] enridaga commented on #93
Just sketched a temporary test to discuss this (see commit). The test currently uses a `{ ?a ?b ?c }` pattern, which seems to return much more stuff, also considering the default `follow redirect` policy of the HTTP client. However, to reproduce the problem it would be useful to see the entire query. There may be the chance that there is a problem in the TripleFiltering method, which has become th

[2021-09-17 17:27] enridaga commented on #93
BTW, to run the test, uncomment the `@Ignore` annotation as tests should not assume online resources ...

[2021-09-17 17:38] enridaga opened #94 "Jena 4"
Is it time to consider moving to Jena 4?
Major reasons are:

 - support for RDF-Star
 - support for JSON-LD 1.1
 - better support for custom service executor (see also #60)

Besides, they are already at version 4.2.0 so I suppose this is robust enough. Not sure what is the impact on our codebase, though.

[2021-09-17 23:35] justin2004 commented on #93
oh, the problem isn't the amount that is returned. the problem is that all slots point to the containing container.

[code]

yields:
[code]

but it should yield something like:
[code]

[2021-09-17 23:46] justin2004 commented on #93
i actually think something like this might make a good test case:

[code]

it should always return false because the root node should not be the object of any triple.

[2021-09-18 08:42] enridaga commented on #93
Ah! I get it now, I didn't notice the same bnode repeated in the first example.

[2021-09-18 09:01] enridaga commented on #60
Nice! I've seen this is now included in release 4.2.0. Discussion for migrating to Jena 4 opened at #94

[2021-09-22 11:40] enridaga opened #101 "Function `trim`"
We need to remove trailing spaces from strings, for example, to make them reused as local names.

[2021-09-22 11:47] enridaga commented on #56
This is partly addressed within #91

[2021-09-22 11:47] enridaga commented on #56
However, rationale should be documented

[2021-09-22 11:50] enridaga commented on #31
Another similar case, when scraping a web page:
[code]

[2021-09-22 11:52] enridaga commented on #31
Maybe we should implement a strategy so that the resulting IRI is first evaluated and then if an exception occurs, the string is URL-encoded in some way. However, this should already be happening in the Triplifier, so the problem may be limited to the HTML Triplifier using his own URI building code.

[2021-09-24 10:46] enridaga opened #102 "Resolving XML external entity in user-controlled data"
Parsing user-controlled XML documents and allowing expansion of external entity references may lead to disclosure of confidential data or denial of service.

From security alert: https://github.com/SPARQL-Anything/sparql.anything/security/code-scanning/3?query=ref%3Arefs%2Fheads%2Fv0.3-DEV

[2021-09-24 11:01] enridaga commented on #102
The security alert disappeared after c95df81 - I consider the fixed.

[2021-09-24 11:01] #102 closed, assigned to enridaga

[2021-09-24 11:05] #18 closed

[2021-09-24 11:05] #67 closed

[2021-09-24 11:07] enridaga commented on #93
Added a test as suggested in https://github.com/SPARQL-Anything/sparql.anything/issues/93#issuecomment-922136822
Test passes, the bug should be resolved.

[2021-09-24 11:07] #93 closed, assigned to enridaga

[2021-09-24 11:22] enridaga opened #103 "Replace JSON parser"
The current JsonIter is a dead project, with security issues reported by https://github.com/SPARQL-Anything/sparql.anything/security/dependabot/pom.xml/com.jsoniter:jsoniter/open

[2021-09-24 13:10] justin2004 commented on #103
[json2rdf](https://github.com/AtomGraph/JSON2RDF) uses
javax.json.stream.JsonParser

[2021-09-24 14:02] enridaga commented on #103
A stream parser example with Gson: https://howtodoinjava.com/gson/jsonreader-streaming-json-parser/

[2021-09-24 14:04] enridaga commented on #103
This may help the discussion: https://github.com/fabienrenaud/java-json-benchmark

[2021-09-24 16:27] enridaga commented on #78
That's completed. If anybody thinks about another one, they can open a new issue.

[2021-09-24 16:27] #78 closed

[2021-09-28 09:01] enridaga opened #104 "String functions"
Some are already available through Jena but it would be nice to have the whole set of String functions provided by `String.class`.

[2021-09-28 09:03] enridaga opened #105 "Binding Java methods to SPARQL functions"
We should allow an easier way to map Java objects' methods to SPARQL functions. This can be done using reflection for both static and non-static methods. There may be limitations, though, to be identified.

[2021-09-28 09:04] #101 closed, assigned to enridaga

[2021-09-28 09:05] enridaga commented on #104
Todo: check if all suitable functions are added and update documentation

[2021-09-28 12:33] justin2004 commented on #105
I wonder if [this example](https://www.bobdc.com/blog/arqjavascript/) calling js functions using ARQ would be useful as a reference?

[2021-09-29 13:02] enridaga opened #106 "Entity construction functions"
A lot of work to concatenate strings and casting ... I am wondering whether any of the following syntaxes may make things easier:
[code]

[2021-09-29 14:16] luigi-asprino opened #107 "FunctionsTest.indexOf test fails"
I'm not sure why this happens.
The method seems pretty similar to endsWith, startsWith ecc. which work correctly.

[2021-09-29 14:21] enridaga commented on #107
Test breaks with Java 11 but not with Java 14

[2021-09-29 15:17] #107 closed, assigned to nobody

[2021-09-29 15:17] #94 closed, assigned to luigi-asprino

[2021-09-29 16:16] justin2004 commented on #94
wow, it it just worked!?

[2021-09-29 16:24] luigi-asprino commented on #94
Well.. there were a couple classes deprecated and few methods added.. but not much work..
The upgrade passed all the unit tests. The tool seems to be working properly.

[2021-09-29 19:37] enridaga commented on #105
Yes, that's a useful feature. In this case, I am more thinking of exposing a number of Java libraries such as `java.lang.Math` that provides a collection of methods on basic data types. We used this approach for implementing #101 #104 and it seems to work. Other useful methods would be the ones to manipulate dates and time, but I suspect they will require a bit more attention to implement conversi

[2021-09-30 00:10] justin2004 commented on #106
i usually do
[code]

[2021-09-30 09:19] enridaga commented on #91
Missing:

- metadata
- binary
- folder
- tar
- zip

[2021-09-30 16:41] enridaga commented on #103
`Jackson` seems a good balance between performance and stability. We don't want to get ourselves again in the situation of depending on a library that is not maintained appropriately.

[2021-09-30 17:18] enridaga commented on #90
This is interesting discussion, maybe we should split it in different issues? Some of these can be solved by supporting the options within the service spec (e.g. a `strategy` option can be easily added) but others require a bit more thinking, for example, the way parametrised queries can be implemented by reading from the query string.

The `--values` option allows for populating variables in the

[2021-09-30 17:21] enridaga opened #108 "Documentation"
The README file is growing fast. Options:

- create a folder `/documentation` and move there the README file, then split it and reorganise it
- move it to the Wiki
- move it to the website at `https://sparql-anything.cc`
- other options?

[2021-10-01 01:42] justin2004 commented on #108
I personally like single document READMEs. They are easy to maintain and make grepping simple. When I look at documentation and they have a "single HTML page" and "multiple HTML pages" I always use the single page.

I think SPARQL Anything's README is quite good too.
The only thing I would like to see more of is examples... which I think could also live in the README just like they do in man pages

[2021-10-01 12:49] justin2004 commented on #90
Yeah, it is just the [named query](https://patterns.dataincubator.org/book/named-query.html) pattern.

[Processor](https://github.com/AtomGraph/Processor) does it with [data](https://github.com/AtomGraph/Processor/blob/83ff768959e6580bdf1d8220b3456bda539483c3/examples/wikidata/wikidata.ttl#L62).

Blazegraph does it like [this](https://github.com/blazegraph/database/wiki/StoredQuery#invoking-a-stor

[2021-10-03 14:01] Aklakan commented on #105
Hi again ;)

We created an annotation-based java-jena function binder for that purpose. It creates dynamic proxy implementations of jena functions that bind to the java functions. Again its not (yet) part of jena itself, but as I am seeing the demand for these features grow I'd gladly contribute that work :)

So far its part of the maven dependency
[code]
The release for jena 4.2.0 is scheduled be

[2021-10-03 15:16] justin2004 opened #109 "fuseki doesn't start"
the cli works at HEAD:

[code]

but when i try to start fuseki:

[code]

[2021-10-04 06:22] luigi-asprino commented on #87
A triplifier for the docx format has been implemented. Only paragraphs and tables are extracted from the input document. Additional information (such as, font, color, comments etc.) can be extracted as well, but without clear requirements are left to future work.

[2021-10-04 06:22] #87 closed, assigned to luigi-asprino

[2021-10-04 06:38] luigi-asprino commented on #109
The versionId of fuseki-main had not been upgraded. Now it should work

[2021-10-04 06:38] #109 closed, assigned to nobody

[2021-10-04 11:42] #103 closed, assigned to luigi-asprino

[2021-10-04 14:18] enridaga opened #110 "Failure to use HTTPS or SFTP URL in Maven artifact upload/download"
See https://github.com/SPARQL-Anything/sparql.anything/security/code-scanning/1?query=ref%3Arefs%2Fheads%2Fv0.3-DEV

[2021-10-04 14:18] enridaga opened #111 "Arbitrary file write during archive extraction ("Zip Slip")"
See https://github.com/SPARQL-Anything/sparql.anything/security/code-scanning/2?query=ref%3Arefs%2Fheads%2Fv0.3-DEV

[2021-10-04 14:56] enridaga commented on #105
Very interesting, I would like to add GeoSpatial functions to SPARQL Anything!

[2021-10-04 16:30] justin2004 commented on #105
I haven't tried this but: https://jena.apache.org/documentation/geosparql/

[2021-10-04 16:38] luigi-asprino commented on #59
I think we can close it now since we replaced jsoniter with jackson and @enridaga set up a workflow for java 17.

[2021-10-04 16:38] #59 closed

[2021-10-04 23:07] Aklakan commented on #105
We are using jena geosparql and you may also be interested in the extensions from https://github.com/i3mainz/jena-geo
But still there are cases where additional sparql function extensions are needed, and the annotation-based function binder makes this task easy :)

[2021-10-04 23:19] justin2004 commented on #111
I get a 404 for that URL. (or maybe it was just a note for yourself)

[2021-10-05 08:52] enridaga commented on #111
Yes, that's a security alert, can't be seen if not admin. Description is: "Extracting files from a malicious archive without validating that the destination file path is within the destination directory can cause files outside the destination directory to be overwritten."

[2021-10-05 08:58] Sarra-Ouelhadj opened #112 "CSV Delimiter support"
It will be very useful to be able to set the delimiter of the csv file (e.g. ';' instead of ',').

[2021-10-05 10:35] enridaga opened #113 "Safe but pretty local names for keys"
The system builds properties using a namespace (default `http://sparql.xyz/facade-x/data/`) and the local name derived from the data, for example, the CSV column or the JSON property.

However, not all the strings are valid IRIs. Currently, we leave to each triplifier to prepare the slot `key`, in FX terminology.
For example, the JSON triplifier in v0.3.1 replace all non alphabetic characters to U

[2021-10-05 10:35] enridaga commented on #112
Indeed!

[2021-10-05 10:56] enridaga commented on #112
There is a new option `csv.delimiter` which should do the job. Please try it out and let us know if the issue is resolved.

[2021-10-05 14:35] enridaga commented on #106
Yes, that's the most compact available at the moment.

This one may be problematic:
[code]
since the query execution will need to test whether `?artistNickname` is evaluated before executing the function, and I am not sure this is possible without referencing an actual variable in scope.

Maybe a convenient function is one that can accept arguments of any length of any type, performs the appropria

[2021-10-05 14:40] Sarra-Ouelhadj commented on #112
I'm using the executable JAR for Fuseki in my tests. Would you mind making a new release for me to test? if there is another way to test, I would be glad to know it. Thank you in advance.

[2021-10-05 14:51] enridaga commented on #112
You can clone the project and compile with Maven, as follows:
[code]
the runnable Fuseki is in `sparql.anything/sparql.anything.fuseki/target/`.

Otherwise, we plan to sketch a release candidate next week.

[2021-10-05 18:12] enridaga commented on #110
Fixed

[2021-10-05 18:12] #110 closed, assigned to nobody

[2021-10-05 20:18] enridaga opened #114 "fx:anySlot in property paths breaks fx:properties"
Not sure why, but a query using `fx:anySlot` in a property path does not return content and spits the following error message:
[code]
Will create a test case to reproduce.

[2021-10-05 23:46] justin2004 commented on #113
We were happy to see that SPARQL Anything handles things like spaces in keys.

JSON2RDF [doesn't](https://github.com/AtomGraph/JSON2RDF/issues/6).

We don't mind the url encoding but we do have to use <> around URIs when they've been url encoded (in a query). That is a super minor inconvenience though.

[2021-10-05 23:51] justin2004 commented on #112
@Sarra-Ouelhadj if you are using Fuseki [this](https://github.com/SPARQL-Anything/sparql.anything/blob/v0.3-DEV/BROWSER.md) is a quick way to run the latest commit.

[2021-10-06 07:21] Sarra-Ouelhadj commented on #112
Thank you @justin2004 @enridaga , it works great!

[2021-10-06 13:58] enridaga commented on #40
What about the following (resembling Jena artefacts)?
[code]

[2021-10-06 14:26] enridaga commented on #114
The same query works when putting the location in the service URI.

[2021-10-06 16:31] luigi-asprino commented on #114
Closed via 540f1f4

[2021-10-06 16:31] #114 closed, assigned to nobody

[2021-10-06 17:46] #112 closed, assigned to enridaga

[2021-10-06 18:20] enridaga commented on #86
Implemented `serial(...)` with any number of args. The function sets a counter in the ARQ Context for each argument list. Every time the function is executed, the counter progresses. Multiple counters can be set by passing different arguments. Some examples can be found in the tests. Note that args are kept in memory as keys of a map, which may grow very large if one wants, for example, associate

[2021-10-06 18:31] enridaga commented on #86
It would be nice to do some tests on use cases. If using the arg list as a key for the map is too memory intensive we may replace them with some hash (no need to keep references to the actual objects).

[2021-10-07 11:07] luigi-asprino commented on #70
Hi,

I just stepped into [SPARQL Transformer](https://github.com/D2KLab/sparql-transformer).
Essentially, the tool allows to define prototypes for JSON objects.
The prototypes are used for generating a SPARQL queries which serve in turn to instantiate the prototype.
I think that a similar approach can be implemented for "lowering" data.

[2021-10-07 11:21] enridaga commented on #70
Nice! The SPARQL Transformer approach could be used to write back to JSON, then. Of course, we don't want to ask users to write those 'lowering' mappings but those should be produced automatically from the facade+format combination. Is there a chance to abstract this approach to any format, defining prototypes automatically for XML, HTML, etc ... so that we can support SPARQL Update on those poten

[2021-10-07 11:52] enridaga commented on #113
Good point, the usability of local names in querying is important, as we want developers to easily use the strings as they look like in the original sources as much as possible

[2021-10-07 13:11] justin2004 commented on #70
XSPARQL [specified](https://www.w3.org/Submission/xsparql-language-specification/#sec:liftlow) this functionality.
[This](https://github.com/semantalytics/xsparql) looks like it was one of the implementations.

I wonder if the project lost steam because it only supported XML?

[2021-10-07 13:34] enridaga opened #115 "Prepare v0.4.0"
Considering there have been quite substantial changes from v0.3.1, I suggest we move to 0.4.

Process is:

- Complete #40
- Move this branch to v0.4-DEV and set it as the default branch

I don't expect we need to maintain v0.3.1 anyway, so no need to keep a v0.3-DEV alive (but we should check there are no references and links outside this space)

[2021-10-07 13:36] enridaga commented on #73
Need to check if #114 solved this one as well.

[2021-10-07 13:39] #104 closed, assigned to enridaga

[2021-10-07 13:40] enridaga commented on #86
Keeping this idea in the background and close this issue. A new one can be opened if the idea is relevant.

[2021-10-07 13:40] #86 closed, assigned to enridaga

[2021-10-07 16:00] enridaga opened #116 "Test resources in src/main/resources"
Those files will be included in the releases, while they should not.

[2021-10-07 16:23] enridaga commented on #91
Leaving those to future work as they don't have typically performance problems.

[2021-10-07 16:23] #91 closed, assigned to enridaga

[2021-10-07 16:24] enridaga opened #117 "Some triplifiers only support 'transform all' strategy"
They are using a deprecated method:

- metadata
- binary
- folder
- tar
- zip

[2021-10-07 16:26] enridaga commented on #41
This included fixing #114

[2021-10-07 16:31] enridaga commented on #115
Workflows updated.

[2021-10-07 16:36] enridaga opened #118 "Renamed fuseki server jar"
When performing #40 we also renamed the executable produced by `sparql-anything-fuseki`. The new name is `sparql-anything-server-VERSION.jar`. References in documentation should be updated.

[2021-10-07 16:37] enridaga commented on #118
Any other reference?

[2021-10-07 16:38] enridaga commented on #115
Anything else we want to include in [v0.4.0](https://github.com/SPARQL-Anything/sparql.anything/milestone/5)?

[2021-10-08 00:06] justin2004 commented on #118
yeah, in Dockerfile.development. i can make a PR for that one if you like.

[2021-10-08 07:27] luigi-asprino opened #119 "Hash functions"
Apache commons-codec library provides a series of hash functions which are for example useful for minting safe URIs from arbitrary strings.
In 8cde66b2f634ee9d164bdf539769364775680f5f  I integrated one of these functions (md5Hex) which given a String as "Calculates the MD5 digest and returns the value as a 32 character hex string.".
Maybe, we can consider to integrate other hash functions

[2021-10-08 07:50] luigi-asprino commented on #111
Closed via 152602c70d1f54d63eb68f70ec5887b825882bdd implemented suggestions found [here](https://codeql.github.com/codeql-query-help/java/java-zipslip/)

[2021-10-08 07:50] #111 closed, assigned to luigi-asprino

[2021-10-08 12:47] justin2004 commented on #73
this query works now!

[code]

[code]

[2021-10-08 16:30] enridaga opened #121 "apache commons text functions"
Nice utilities from commons-text:

- [WordUtils](https://commons.apache.org/proper/commons-text/javadocs/api-release/org/apache/commons/text/WordUtils.html)
- [CaseUtils](https://commons.apache.org/proper/commons-text/javadocs/api-release/org/apache/commons/text/CaseUtils.html)

[2021-10-08 16:31] enridaga commented on #108
ehm ... yes the other option is leaving as it is :D

[2021-10-08 16:32] enridaga commented on #118
Should be solved

[2021-10-08 16:32] #118 closed, assigned to nobody

[2021-10-08 16:32] enridaga commented on #115
Looks like we are ready for a release candidate

[2021-10-12 10:39] enridaga commented on #115
This is released.

[2021-10-12 10:39] #115 closed, assigned to enridaga

[2021-10-12 11:57] enridaga opened #122 "Prepare 0.5-DEV branch"
Move development to the next version branch. Keep 0.4-DEV for hot/bug fixes.

[2021-10-12 12:02] #122 closed, assigned to nobody

[2021-10-13 15:57] luigi-asprino opened #123 "Incorrect handling of the "root" argument when "content" argument is used"

[2021-10-13 16:01] luigi-asprino commented on #123
b40a0e8 addresses this issue

[2021-10-13 16:01] #123 closed, assigned to nobody

[2021-10-14 19:20] enridaga opened #124 "YAML"
As the summary says.

[2021-10-14 19:20] enridaga opened #125 "Markdown"
As the summary says.

[2021-10-14 19:21] enridaga opened #126 "MIDI"
As the summary says. One option is http://www.jfugue.org

[2021-10-14 19:37] enridaga opened #127 "Implement Triplifier"

[2021-10-14 19:37] enridaga commented on #127
Ops, I created this by mistake

[2021-10-14 19:37] #127 closed, assigned to nobody

[2021-10-14 19:38] enridaga commented on #10
I was so excited about this that I clicked in the wrong place and created an issue :D

[2021-10-14 19:44] enridaga commented on #124
SnakeYAML Engine is a YAML 1.2 parser. YAML 1.2 is a superset of JSON (otherwise we could use the one that comes with Jackson ... but why having less when you can have more?)

https://bitbucket.org/asomov/snakeyaml-engine/wiki/Documentation#markdown-header-loading-yaml

[2021-10-14 21:09] enridaga opened #128 "Enable Actions for v0.5-DEV"
workflows config files still reference v0.4-DEV

[2021-10-14 21:09] #128 closed, assigned to enridaga

[2021-10-15 08:49] enridaga commented on #125
Reuse Library: https://github.com/commonmark/commonmark-java

Interesting: it supports YAML in the front matter!

[2021-10-15 10:59] enridaga commented on #80
Happening again! For example:
[code]

I am reopening this issue because the problem is back again. I think this is caused by transitive inclusion of logging configurations/library by dependency modules/

[2021-10-15 11:22] enridaga opened #129 "Failing YAML test when removing slf4j-lg4j12 dependency"
This is very awkward.

I will reproduce the error committing the change and see CI actions break.

[2021-10-15 11:24] enridaga commented on #129
Just to give the background, I am trying to clean logging -- see #80

[2021-10-15 11:45] enridaga commented on #129
Stack trace:
[code]

[2021-10-15 12:12] enridaga commented on #129
The strange thing is that, when the dependency is present, `datasetGraph.size()` returns `2` -- which I assume are 1 named graph (the file) + the default graph. When removing the dependency,  the `datasetGraph.size()` returns `1` -- but there is still the named graph and the correct number of triples in the default graph!

[2021-10-15 13:00] enridaga commented on #129
OK, @luigi-asprino tells me that size() should only return the list of named graphs. So the real mystery is why during test development it was returning two (with the dependency included)! We can leave this to another time, or never. In other words, current version behaves as it should.

[2021-10-15 13:29] #129 closed, assigned to nobody

[2021-10-15 14:13] enridaga opened #130 "YAML Test failing when changing log level during build"
Similar error as in #129

`mvn clean install -Dorg.slf4j.simpleLogger.defaultLogLevel=TRACE` -- fails

`mvn clean install -Dorg.slf4j.simpleLogger.defaultLogLevel=INFO` -- works

Really weird.

[2021-10-15 15:38] enridaga opened #131 "FacadeXGraphBuilder: remove getMainGraph()"
Sources may have different criteria for generating graphs. Currently, the getMainGraph method may create problems when triplifiers choose to name the graph differently and create an additional empty graph after the call `builder.getMainGraph()` (this is an effect of the underlying `DataseGraph.getGraph(...)` Jena class).

Better remove the option at all, and discuss later how to enforce consistenc

[2021-10-15 15:39] enridaga commented on #131
As a side effect, we need to change the interface `Triplifier` and remove the `add(Triple)` method (no knowledge of the named graph to use).

[2021-10-15 15:42] #131 closed, assigned to enridaga

[2021-10-16 15:13] enridaga commented on #130
This was solved by addressing #131 .

The reason was that some tests were declaring different graph names in the constructor of the builder and the triplifier. The builder was then invoking getMainGraph in a block of code executed only in DEBUG mode. As a result, an additional graph were invoked in the underlying DatasetGraph, causing the Jena component to create an empty, addition graph. Therefor

[2021-10-16 15:13] #130 closed, assigned to nobody

[2021-10-17 14:57] luigi-asprino opened #132 "FacadeIRIParser doesn't parse x-sparql-anything:example.json correctly"
It is should extract {location=example.json} instead of {}

[2021-10-17 14:58] #132 closed, assigned to nobody

[2021-10-17 16:25] luigi-asprino commented on #132
The facade IRI parser recognized example.json as argument identifier (not location). A slight modification of the grammar was needed.

[2021-10-21 08:56] albertmeronyo commented on #126
I'll be super happy to work on this!

[2021-10-21 09:30] enridaga commented on #126
Welcome onboard :)

JFugue seems a good project (many music formats, developed and maintained) but free to propose alternatives.

[2021-10-21 09:31] enridaga commented on #125
Build is still broken, will remove the markdown module from the main pom until it's ready

[2021-10-21 17:23] enridaga opened #133 "Tests Helper"
A lot of tests are repeating the same mantra: an input file and an expected RDF graph. A utility class for speeding up test development is probably a good idea. I am currently working on the MARKDOWN module (not ready yet) -- see https://github.com/SPARQL-Anything/sparql.anything/blob/v0.5-DEV/sparql-anything-markdown/src/test/java/com/github/sparqlanything/markdown/MARKDOWNTriplifierTest.java .

[2021-10-22 12:58] justin2004 opened #134 "feature request: support csv.null-string for all file types"
We used the new spreadsheet triplifier (worked nicely!) but we missed the csv.null-string option.

low priority.

[2021-10-22 13:03] justin2004 commented on #134
Actually I don't think it would be as important for SPARQL Anything to implement features like csv.null-string if SPARQL supported nested constructs. Then we could just...

[code]

[2021-10-25 12:39] justin2004 opened #135 "discussion: how about adding a streaming option?"
I wonder how much effort it would be to alter the triplifiers so that they can can be configured to operate on a configurable amount of input at a time.

e.g. for csv files say you want to run your sparql query on 10 rows at a time but still combine the results into a single result set.

There is [interest](https://github.com/kg-construct/rml-questions/discussions/3#discussioncomment-1531237) in t

[2021-10-31 22:50] #73 closed

[2021-11-04 09:26] enridaga commented on #135
This may be problematic because of partial and inconsistent results that may occur (e.g. joins having matching that span multiple groups would not be evaluated). Of course, one may think "who cares?" but then it is crucial that this feature is transparent to the developers (for example, adding a `slice=10` parameter to the CSV setting the number of rows to process on each iteration. However, I am

[2021-11-04 10:11] enridaga opened #137 "Graphviz DOT format"
Implement a Triplifier for querying DOT files. We can reuse this project: https://github.com/nidi3/graphviz-java

[2021-11-04 19:43] justin2004 commented on #135
When my team uses SPARQL Anything to triplify csv we know when we only need to see one row at a time. For large csv files we have been using [CSV2RDF](https://github.com/AtomGraph/CSV2RDF) so we don't have to do the batching ourselves.
You would only get inconsistent results if you wrote a query that depends on seeing more than one row at a time, right?

One approach is to allow the user to specif

[2021-11-04 20:01] justin2004 commented on #135
related: https://github.com/AtomGraph/CSV2RDF/issues/7

[2021-11-05 11:35] enridaga commented on #125
With tables, I guess the markdown support is complete. Other extensions may be added but let's wait until anyone needs them :)

[2021-11-05 11:36] enridaga commented on #133
This is ready and successfully used by the Markdown module.

[2021-11-05 11:48] enridaga commented on #133
There is a bug! The extension of the file ".md" has been left in the abstract class!

[2021-11-05 11:49] enridaga commented on #133
I am also going to test this with another triplifier before closing.

[2021-11-05 12:03] enridaga commented on #124
Also, 27a08f9 prepares string keys with `Triplifier.toSafeURIString`

[2021-11-05 21:23] #133 closed, assigned to enridaga

[2021-11-09 15:52] enridaga opened #138 "Change log level of HTTPHelper message"
The following should be moved down to debug? It is polluting the output log when scraping a website:
[code]

[2021-11-11 10:14] luigi-asprino opened #139 "Applying trim function on all the strings of a source."
It might be useful having an argument (e.g. trim-strings) that makes sparql anything to trim all the strings within a source

[2021-11-11 16:45] enridaga commented on #125
Reopening to add collection of a YAML front matter

[2021-11-11 16:46] enridaga commented on #125
The commons markdown extension for YAML front matters only supports a subset of YAML. Besides, we have a dedicated triplifier for YAML 1.2. Hence, we can make our own extension to collect the YAML content as a single string. The SPARQL query can then use another service clause to triplify the content of the front matter, passing it with the `fx:content` property.

[2021-11-11 16:48] enridaga commented on #125
We should close after including examples in the README

[2021-11-16 16:05] enridaga commented on #135
I see two issues here:

- Streaming query execution: to reduce the impact on memory consumption (large files may hit memory limits)
- Slicing the input: in many cases, users may want to target a specific part of the input data, or execute a query on a collection of parts (e.g. executing a query on each row of the CSV). A slice parameter can accept a selector expression in some cases (JSON, XML, HT

[2021-11-18 09:25] enridaga opened #140 "Location to point to a specific file in an archive"
Currently, it is possible to explore the content of an archive. However, it could be useful to point to a specific entry within an archive. This comes in handy when you have large sets of files and you don't want to unpack the archive for reading it.

[2021-11-18 09:29] enridaga opened #141 "BASIL template variables parsing error"
Parenthesis gets in the way with query:
[code]

[code]

[2021-11-18 09:38] enridaga opened #142 "[DOCX] Newlines are lost"
The text values don't include newlines but wrap the content into one line of text.

[2021-11-18 10:31] enridaga opened #143 "[YAML] support object type definitions"
YAML supports declaration of object types, like in the following example from Wikipedia:
`myObject: !myClass { name: Joe, age: 15 }`

[2021-11-18 11:32] enridaga opened #144 "BaseFacadeXBuilder.addType should always make a URI for object (even when blank-nodes=true)"
Currently, the method creates a triple pointing to a blank node, when blank-nodes=true.

[2021-11-18 11:57] enridaga commented on #144
Fixed in 0b04d2bc04abdfd8498f13c9f2df97e92e46bc04

[2021-11-18 11:57] #144 closed, assigned to enridaga

[2021-11-18 12:04] #125 closed, assigned to enridaga

[2021-11-18 12:24] luigi-asprino commented on #142
By default newlines are preserved now.

[2021-11-18 12:24] luigi-asprino commented on #142
Closed via bc22a74

[2021-11-18 12:24] #142 closed, assigned to nobody

[2021-11-18 12:32] #124 closed, assigned to enridaga

[2021-11-18 14:24] luigi-asprino opened #145 "Preserving style in doc triplification"
Blocks of text should be reified and typed according to their style.

[2021-11-18 14:33] luigi-asprino commented on #145
Closed via 8ea27ac

[2021-11-18 14:33] #145 closed, assigned to nobody

[2021-11-19 13:57] enridaga commented on #139
Needs tests and documentation

[2021-11-19 16:12] enridaga commented on #134
It is useful to have a  `null-string` global option.

[2021-11-19 17:02] enridaga opened #146 "[CSV] wrong dataset graph name"
Triplifiers must use Triplifier.getRootArgument as default datasetGraphName

[2021-11-19 17:02] #146 closed, assigned to enridaga

[2021-11-19 17:14] enridaga opened #147 "[CSV] Annoying warn"
`[main] WARN com.github.sparqlanything.csv.CSVTriplifier - Unsupported csv format: 'null', using default`

[2021-11-19 17:28] #139 closed, assigned to enridaga

[2021-11-22 11:02] enridaga commented on #105
OK, I like the discussion on this topic and will open specific issues on Geospatial features. However, the feature developed allows exposing existing Java libraries without the need to write additional code. This is solved, now.

[2021-11-22 11:02] #105 closed, assigned to enridaga

[2021-11-22 11:03] enridaga opened #148 "Geospatial functions"
Add Geospatial functions.

See also the discussion here: https://github.com/SPARQL-Anything/sparql.anything/issues/105#issuecomment-933921242

[2021-11-22 11:08] enridaga opened #149 "Provenance graph"
It would be useful to provide additional information to the user in a provenance graph (on demand).

This may include things such as:

- Info on file size, as well as options used (some may be generated dynamically during execution)
- Response info in case of HTTP requests
- Time required for the process
- Number of triples generated

[2021-11-22 11:10] enridaga commented on #149
There is the `audit` feature that currently includes Number of triples. Maybe we should distinguish between Provenance and Audit, also because auditing may include some performance overhead (counting the triples...) while Provenance should not?

[2021-11-22 11:16] enridaga opened #150 "FX options via command line (no SERVICE mode)"
There is a point in moving the SA configuration outside the query, and just running a plain SPARQL query on a transformed dataset.

For example:
[code]

Where `myQuery.sparql` can be as simple as
[code]

We may even consider to pu them in a properties file:

[code]

This does not prevent the query to also include SERVICE clauses for additional operations.

[2021-11-22 13:05] justin2004 commented on #149
Maybe the audit or provenance graph could also include some details that you can see at higher log levels like:
- whether or not a cached graph was used (if so when was it created)
- the SPARQL algebra

[2021-11-22 13:16] justin2004 commented on #150
I hope the properties file contains triples (basically the triple patterns we already use in queries)!

This may not be what you are talking about here but I am still interested specifying multiple queries. I talked about this [here](https://github.com/SPARQL-Anything/sparql.anything/issues/90#issuecomment-919144028).
e.g.
[code]
Where first.rq might be defined by an ontology team and second.rq is

[2021-11-23 12:45] enridaga opened #151 "More String functions"
strip, stripLeading, stripTrailing, replace

[2021-11-23 12:45] #151 closed, assigned to enridaga

[2021-11-23 12:51] enridaga opened #152 "fx:String.replace does not work"
Not a big problem, we can use the standard `replace` -- but is concerning because it is due to the fact that the wrong converter is used (Char instead of String):
[code]

[2021-11-24 09:53] enridaga opened #153 "Release on Maven central"
As the summary says.

[2021-11-24 09:59] enridaga opened #154 "Extensive use of fx:anySlot - query not terminating"
We stumbled on one query using `fx:anySlot` extensively, which does not terminate.

The query:
[code]

The data:
[code]

The query plan:
[code]

[2021-11-25 14:42] enridaga commented on #147
I think that the problem is on the default value needing to be `Default` rather than `DEFAULT` to match the `CSVFormat.Predefined` enumerator. The warning is correct, if one sends an unsupported value.

[2021-11-25 14:44] #138 closed, assigned to enridaga

[2021-11-25 14:44] #147 closed, assigned to enridaga

[2021-11-25 14:46] enridaga opened #155 "[CSV] Tests are not testing"
Some tests in this module are not asserting anything (they cannot fail). Review and change to useful tests.

[2021-11-25 14:50] enridaga commented on #134
Actually, the global `null-string` option has a different semantics and usage from the CSV one. The global one is a boolean flag: ignore triples where the object value is an empty string. While the `csv.null-string` option accepts any string that, when met as a value, makes the triple ignored. Shall we replicate the same behaviour?

[2021-11-25 14:56] #134 closed, assigned to enridaga

[2021-11-25 14:57] enridaga commented on #134
That was a rhetoric question :)

[2021-11-25 22:29] justin2004 commented on #134
We'll be using this feature right away! Thanks!

[2021-11-25 23:50] justin2004 opened #158 "http headers are not passed to the headless browser"
title says it all.

[2021-11-26 16:21] PaulWWarren opened #160 "triplification of json array needs to start from rdf:_1"
In the example of the triplification of json, the array is triplified with predicates starting from rdf:_0; this should be rdf:_1

[2021-11-26 16:26] #160 closed, assigned to nobody

[2021-11-26 16:27] luigi-asprino commented on #160
Thank you for pointing this out.

[2021-11-27 04:36] justin2004 opened #162 "iframe content is not triplified when using the headless browser"
title says it all

[2021-11-27 18:46] justin2004 commented on #158
this is working for me now. mind if i close it?

[2021-11-29 09:34] #162 closed, assigned to nobody

[2021-11-29 10:36] enridaga commented on #149
Is there an RDF-like representation of the SPARQL Algebra?

[2021-11-29 11:00] luigi-asprino opened #163 "Injecting code dynamically within the SPARQL query for manipulating data"
We can use for example a python interpreter for running the code

[2021-11-29 12:00] danbri opened #164 "[HTML] Add Schema.org and other inline rdf support"
A great many pages contain RDF data via Schema.org (in microdata, json-ld, rdfa). There are also other vocabularies which uses those syntaxes. Does SPARQL Anything represent that data naturally, or could it be adapted to do so?

[2021-11-29 12:44] #158 closed, assigned to nobody

[2021-11-29 13:02] justin2004 commented on #149
almost!
https://jena.apache.org/documentation/notes/sse.html#mapping-to-rdf

there is a recipe for conversion.

[2021-11-29 13:59] luigi-asprino opened #166 "Integrating static functions having arrays as arguments"
At the moment is pretty simple to integrate Java methods that have basic datatypes as arguments. It is not clear how to integrate methods that have arrays as argument. This was the case of [CaseUtils.toCamelCase](https://commons.apache.org/proper/commons-text/javadocs/api-release/org/apache/commons/text/CaseUtils.html#toCamelCase(java.lang.String,boolean,char...)) (see #121) which takes the string

[2021-11-29 14:09] luigi-asprino commented on #121
I integrated functions from WordUtils and DigestUtils and we can maybe postpone the integration of CaseUtils after we address the issue #166

[2021-11-30 10:19] enridaga commented on #164
Currently, it is only generating an RDF-like view of the DOM tree.

In general, SA generates the main graph for the resource content (RDF-like view) and, in some cases, additional graphs for metadata (e.g. EXIF metadata for images).

In the case of HTML, SA could generate additional named graphs with extracted metadata.
These should include:

- RDFa
- Microdata
- Microformats
- Others?

We could u

[2021-11-30 10:24] #121 closed, assigned to luigi-asprino

[2021-11-30 11:16] danbri commented on #164
Thanks. You might look at
https://github.com/wbsg-uni-mannheim/WDCFramework/blob/master/pom.xml since
they extract these formats and seem to build upon any23

Named graphs makes sense to distinguish the different syntax sources

UK Guardian newspaper pages are usually good if you want to find examples
of json-ld and microdata in the same page. Or at least used to be.

On Tue, 30 Nov 2021 at 10:19,

[2021-12-02 11:14] enridaga opened #168 "[JSON] Integers data type"
Currently, the JSON transformer produces `xsd:int`. We need to check whether it should be `xsd:integer` instead.

[2021-12-02 11:18] enridaga commented on #168
Quoting a SO issue https://stackoverflow.com/a/15336877/1035608

[2021-12-02 11:19] enridaga commented on #168
Resolution: it is OK to use `xsd:int` as the default datatype for mapping formats that express integer numbers.

[2021-12-02 11:19] #168 closed, assigned to nobody

[2021-12-02 12:15] enridaga commented on #108
Still want to have nicer documentation, I am trying to publish one with [readthedocs.io](https://readthedocs.org/), first thing is to copy the readme.md in a docs/ folder. Let's see how it goes.

[2021-12-02 12:18] enridaga commented on #108
Not bad, considering the zero effort: https://sparql-anything.readthedocs.io/en/latest/

[2021-12-02 12:42] enridaga opened #169 "Prepare release 0.5.0"
As the summary says.

[2021-12-02 13:10] #169 closed, assigned to enridaga

[2021-12-02 13:10] enridaga opened #170 "Prepare development branch v0.6-DEV"
As the summary says

[2021-12-02 13:45] luigi-asprino commented on #119
Closed via 5a6a0babec790e23c4026e277690a7522ff01501

[2021-12-02 13:45] #119 closed, assigned to nobody

[2021-12-02 18:49] #170 closed, assigned to nobody

[2021-12-03 18:55] enridaga opened #172 "Include version number in CLI help"
As the summary says

[2021-12-03 22:25] #106 closed, assigned to enridaga

[2021-12-06 15:49] enridaga commented on #108
Some thinking on how to improve/manage documentation can be developed from https://www.mkdocs.org

[2021-12-07 02:15] justin2004 opened #173 "union has to be within a service"
This query
[code]

yields:
[code]

as expected.

But this query:
[code]

yields no solutions. Shouldn't they find the same solutions?

[2021-12-07 02:29] justin2004 commented on #163
I think Apache Jena's value functions are pretty convenient. I used that feature [here](https://github.com/justin2004/weblog/tree/master/SPARQL_value_functions).

Do you have in mind something like the following?
[code]
Assuming variables bound in SPARQL get passed to the python environment.

[2021-12-07 16:12] luigi-asprino opened #174 "Inconsistent Root IRI"
[Here](https://sparql.xyz/facade-x/ns/index.ttl) is declared as fx:Root, while the triplifiers generates fx:root.
The easiest way  to fix this (at least for guaranteeing the backward compatibility) is to change the declaration to fx:root.
We can maybe discuss for the next releases to move to fx:Root (by the way we can declare an equivalence between fx:Root and fx:root).

[2021-12-07 16:24] #174 closed, assigned to nobody

[2021-12-07 16:27] luigi-asprino commented on #152
Why don't you use SPARQL builtin REPLACE function https://www.w3.org/TR/sparql11-query/#func-replace

[2021-12-07 16:27] luigi-asprino commented on #164
This relates to #13

[2021-12-09 02:45] justin2004 commented on #163
Might not be too much to implement with something like: https://www.jython.org/

[2021-12-09 03:04] justin2004 opened #175 "fx:properties have to be within a service"
similar to #173

this yields results:
[code]

whereas this does not yield results:
[code]

I wonder if we should just make it mandatory to use a service clause so it simplifies the code?

[2021-12-09 10:28] enridaga opened #176 "URL decode (and encode)"
SPARQL 1.1 has a function for encoding strings into URI components `ENCODE_FOR_URI`. We also need the inverse one (DECODE)!

[2021-12-09 10:57] enridaga commented on #176
Check whether this is available: https://www.w3.org/TR/xpath-functions-31/#func-escape-html-uri

[2021-12-09 12:45] enridaga commented on #176
OK, no escape function in ARQ

I love the comment on the line above: https://github.com/apache/jena/blob/bfbd6111114d6285744e5cd2a9331785c075cd10/jena-arq/src/main/java/org/apache/jena/sparql/function/StandardFunctions.java#L165

[2021-12-09 13:13] enridaga commented on #176
Added both functions from `java.net.URLEncoder` and `java.net.URLDecoder`

[2021-12-09 13:14] #176 closed, assigned to enridaga

[2021-12-09 13:17] enridaga commented on #175
I think this is the current intended behaviour, where the SPARQL Anything engine only reacts to SERVICE clauses. In #150 we started to discuss the option of passing FX properties outside of the query, for example, as command line parameters or, in the case of the server version, as URL query string. The same applies to #173 unless I am missing the point entirely :)

[2021-12-09 13:21] enridaga commented on #90
I like the idea of using SERVICE clauses to glue existing queries altogether. In the case of SELECT queries this is trivial, I am unsure about how to handle CONSTRUCT queries -- I guess we need an additional BGP to be in the enclosing SERVICE clause, otherwise we throw an error. Probably `ASK` and other type of queries should not be allowed.

[2021-12-09 13:23] enridaga opened #177 "Reusing queries"
I think this functionality merits its own issue.

e.g.
[code]

_Originally posted by @justin2004 in https://github.com/SPARQL-Anything/sparql.anything/issues/150#issuecomment-975512207_

[2021-12-09 13:24] enridaga commented on #177
I like the idea of using SERVICE clauses to glue existing queries altogether. In the case of SELECT queries this is trivial, I am unsure about how to handle CONSTRUCT queries -- I guess we need an additional BGP to be in the enclosing SERVICE clause, otherwise we throw an error. Probably ASK and other type of queries should not be allowed.

[2021-12-10 01:02] justin2004 commented on #175
I think @luigi-asprino added the functionality that allows this (with no service clause) to work:
[code]

[2021-12-10 06:34] #154 closed, assigned to nobody

[2021-12-10 06:36] luigi-asprino commented on #154
The engine instantiated the triple pattern for evaluating the fx:anySlot property wrongly (subject and object were considered wildcards even if they were blank nodes).

[2021-12-10 10:11] luigi-asprino commented on #175
Actually this is unintended. I'll mark this as bug.
When analysing OpBGPs the FacadeXOpExecutor should check that the BGP is included in a service clause.

[2021-12-10 10:54] luigi-asprino commented on #175
In a4df980 I disabled the possibility of passing parameters outside the service clause.
When processing OpBGP,  it seems that there is no way to figure out if the BGP is within a service or not.
The work around implemented required to wrap the Jena's ExecutionContext within a FacadeXExecutionContext when processing the service clause. In this way, when the OpBGP is processed, the FacadeXOpExecutor

[2021-12-10 11:06] luigi-asprino commented on #177
I see more criticisms with SELECT queries rather than CONSTRUCT queries. As for the CONSTRUCT queries, the expected behaviour should be (as you suggest): 1) executing the CONSTRUCT query provided and 2) evaluating the BGP inside the SERVICE clause against the result of the construct query. But I cannot see how to integrate SELECT clause. We probably need a sort of iterator. Maybe we can design a B

[2021-12-10 11:09] enridaga commented on #177
If it is a SELECT query, then no pattern is allowed inside (I thought this was the intended use of the service clause with provided external query)

[2021-12-10 11:12] enridaga commented on #177
Ah! What @luigi-asprino is suggesting is to interpret the SELECT query as tabular data! This is also possible, applying the same FX-based transformation -- but I would leave it as an optional feature. The basic behaviour could be that, if the imported SELECT projects var `?x` then that will be the var projected by the SERVICE clause to the query executor. Makes sense?

[2021-12-10 11:49] luigi-asprino commented on #173
maybe 0cb6951 wasn't needed since we addressed the problem with #175, but hey why not having another unit test :-)

[2021-12-10 12:07] enridaga commented on #177
Additionally, queries can be parametrised and parameters passed via options:
[code]

[2021-12-10 13:19] justin2004 commented on #177
I was thinking that the referenced query should be a construct query but that the "outer query" could be a select or a construct.

e.g. I save this as `/app/a.rq`
[code]

Then I want to be able to tell people that they can run queries like this:
[code]

Notice how the people that run that query don't even have to know about "https://some.internal/api/v1/systemQ/list-radio".

[2021-12-10 13:20] justin2004 commented on #177
:+1:

[2021-12-10 13:26] justin2004 opened #179 "feature request: (csv triplifier) specifiy header row"
sometimes the header is not on the first row.

my colleague pointed this out to me.

[2021-12-10 13:29] justin2004 opened #180 "feature request: (csv triplifier) option to ignore columns with no header value"
sometimes people put marginal notes in spreadsheets that are not under any column header.
if we had an option like `fx:csv.ignore.columns.with.no.header "true"` then we wouldn't get errors..

OR

maybe it would be better to have an option like:
`fx:csv.generate.headers.if.missing "true"` to be paired with `fx:csv.headers "true"`

then there would be no errors and the query writer could just ignore

[2021-12-10 17:14] luigi-asprino opened #181 "AbstractTriplifierTester should also be able to test dataset graphs (not only single graphs)"

[2021-12-10 17:25] luigi-asprino commented on #181
Closed via 0efb52c

[2021-12-10 17:25] #181 closed, assigned to nobody

[2021-12-10 19:24] luigi-asprino commented on #181
Since most of the triplifiers use the location for the graph URI tests running on different machine would have failed.
URI <location> can be used in the expected file and will be substituted at run time with the location of the resource.

[2021-12-11 08:30] luigi-asprino commented on #164
With dcc589e SA is able to extract metadata from HTML pages.
This feature relies on Any23.
By default Any23 extracts quads having the URL of the page as graph URI.
Therefore, at the moment, the content extracted by SA and  Any23 collapses on the same graph.
The option to enable this feature is html.metadata=(true/false)  (false by default).
Of course, we can discuss which is the best way to serve

[2021-12-11 10:26] enridaga commented on #108
Tables in 'details' don't seem to work: https://sparql-anything.readthedocs.io/en/v0.6-dev/

[2021-12-11 15:23] danbri commented on #164
That's fantastic - nice work!

On Sat, 11 Dec 2021, 08:31 luigi-asprino, ***@***.***> wrote:

[2021-12-11 15:57] luigi-asprino opened #182 "Including functions for string distance"
For example, the following functions are supported by [Apache Drill](https://drill.apache.org/docs/string-distance-functions/)
- Levenshtein
- Cosine
- Fuzzy
- Jaccard
- Longest common substring
- Hamming
- Jaro-Winkler

[2021-12-13 09:53] enridaga commented on #164
Graph names can be customized according to the running extractor. Will do a commit with partial work in this direction.

[2021-12-13 09:57] enridaga commented on #164
Any23 should use the HTTP client of SA.
[code]
However, this means that we need to make a public method `Triplifier.getHTTPClient`, which we don't have at the moment.

[2021-12-13 09:57] enridaga commented on #164
However, I would prefer to just pass an InputStream to Any23, really.

[2021-12-13 10:21] enridaga opened #183 "[Licence] Clean licence declaration in files"
As the summary says.

[2021-12-13 10:28] enridaga commented on #183
We can't declare copyright to the SPARQL Anything organisation (not legal entity) but I have seen it done in relation to contributors, e.g. https://opensource.stackexchange.com/questions/7300/copyright-notice-in-the-file-header-apache-v2-license

[2021-12-13 10:38] enridaga commented on #183
We could go for the following copyright statement:
[code]

[2021-12-13 10:40] enridaga commented on #183
Full copyright and licence statement:
[code]

[2021-12-13 10:44] enridaga opened #184 "[Licence] Declare licences of third-party components"
Usually, this is done in a NOTICE file. See https://infra.apache.org/licensing-howto.html#example-notice

[2021-12-13 10:45] enridaga commented on #184
We can use the maven licence plugin to gather the necessary information: https://softwareengineering.stackexchange.com/a/344673

[2021-12-13 11:28] #183 closed, assigned to enridaga

[2021-12-16 23:06] justin2004 commented on #164
cool i do see the embedded json-ld (which uses schema.org) from IMDB now.

[code]

yields:
[code]

it would be nice if it was in a different named graph so i could easily tell if html had embedded RDF (by counting the number of distinct graphs).

[2021-12-16 23:08] justin2004 commented on #164
ops i missed them in the snippet but they are there.

EDIT

here they are
[code]

[2021-12-17 09:16] enridaga commented on #164
Yes, this is the plan

[2021-12-21 08:22] enridaga opened #186 "Move resourceId building to utility method"
This is quite an important function, that we need to be sure it is consistent (no duplicate code). Useful in tests as well.

[2021-12-21 08:30] enridaga opened #187 "The triplify() method should not return a `DatasetGraph`"
We shall remove the dependency between the triplifier interface and the Jena DatasetGraph. The reason is that triplifiers are supposed to scan the resource and produce triples. They don't need to know where those triples are supposed to be used. Currently, we are loading a DatasetGraph. In the future, we need to support another type of data flow, for example, to execute query parts and return the

[2021-12-21 08:30] #186 closed, assigned to enridaga

[2021-12-21 08:48] enridaga opened #188 "Triplifier methods: URL comes from Properties but is passed alongside"
Too many methods have two arguments (`URL, Properties`), while they can have only 1: `Properties`, as the `URL` can be derived from method `Triplifier.getLocation`

[2021-12-21 18:47] enridaga opened #189 "experiments for streaming query execution (simple)"
An execution strategy that streams the triples directly from the files during query execution.
This strategy triplifies the file multiple times, to answer a specific triple pattern, requested via a DatasetGraph interface.
The benefit of this approach is that it does not require loading the triples in memory before query execution (strategies 0 and 1).
The downside of this approach is that the file

[2021-12-21 18:51] enridaga commented on #189
4abd087b6eed5aa2bb35316a6240c9614884b116 provides an initial implementation, only supporting the CSV triplifier, for discussion and experiments.

[2021-12-21 19:52] enridaga commented on #189
Something funny is going on when doing joins but can't figure out what it is yet.

For example, [this query from showcase-tate](https://github.com/SPARQL-Anything/showcase-tate/blob/main/queries/list-thumbnail-urls.sparql) does not work as expected, returning only 1 record when strategy = 2:
[code]

[2021-12-22 10:58] #90 closed, assigned to enridaga

[2021-12-22 11:46] enridaga commented on #189
OK, the issue mentioned should be fixed in  1da3b0f272af49a66aa770ac0eca54b9b0da6ca0

[2021-12-22 11:50] enridaga commented on #189
Now the strategy is working as intended. However, it is very inefficient as the file is parsed for every invocation of `DatasetGraph#find`.

Possible optimisation could involve any of the following approaches:

- Blocking strategies (on certain quad patterns, we may know when the solution is complete and stop parsing)
- Saving partial results (inspecting the BGP and second-guess subsequent invocat

[2021-12-26 20:27] enridaga opened #190 "Separate FX component handling from DatasetGraph building"
Related to #187 and #189 -- the methods for generating Quads/Triples from triplifiers and FX components should be separated from the ones that populate a dataset graph. The same methods will be used to produce quads/triples being used in a different way, for example, to feed some object during query execution.

[2021-12-26 20:45] enridaga commented on #190
OK, now there are four interfaces:

- `FacadeXComponentHandler`: to handle FX components from triplifiers
- `FacadeXNodeBuilder`: to generate `Node` from string ids/values
- `FacadeXQuadHandler`: to handle produced `Quad` (can go in DatasetGraph or elsewhere ...)
- `FacadeXGraphBuilder`: implements the `getDatasetGraph()` method

Base implementation of most of the methods moved to `BaseFacadeXBuil

[2021-12-26 20:46] #190 closed, assigned to nobody

[2022-01-03 18:06] ajwecker opened #191 "Model WP3 framework"
You would need datahubs such as:
Usermodel properties
Usermodel
User History
User Generated Content
Sourced Content
Community Model
Emotions
Sentiments

[2022-01-03 18:26] luigi-asprino commented on #191
Hi Alan,

this issue tracker is dedicated to SPARQL anything.
If the issue is concerned with the spice ontology network you can post the issue [here](https://github.com/spice-h2020/SON/issues), otherwise, if it is concerned with the linked data hub you can use [this issue tracker](https://github.com/spice-h2020/linked-data-hub).

[2022-01-03 18:26] #191 closed, assigned to nobody

[2022-01-03 19:26] ajwecker commented on #191
Okay,
This line from your note threw me off, but no problem

https://github.com/SPARQL-Anything/sparql.anything/issues

On Mon, Jan 3, 2022 at 8:27 PM luigi-asprino ***@***.***>
wrote:

--
*Alan J. Wecker,* PhD.(U of Haifa), Dottore di Ricerca (U of Trento)
*Manager of EU-HORIZON 2020 SPICE effort in User Modeling
(https://spice-h2020.eu/ <https://spice-h2020.eu/>)*
*Research Fellow, Information S

[2022-01-03 20:44] luigi-asprino commented on #191
My fault, Sorry :-)

Il lun 3 gen 2022, 20:26 ajwecker ***@***.***> ha scritto:

[2022-01-05 16:51] enridaga opened #192 "[Markdown] Triplifier not registered"
At the moment, it can only be used via the property `triplifier`.

[2022-01-05 16:53] enridaga commented on #192
Also missing dependency in engine builder.

[2022-01-05 16:56] enridaga opened #193 "Redundant dependencies in cli module?"
Triplifiers should be a dependency of `engine` already.

[2022-01-05 16:59] #192 closed, assigned to enridaga

[2022-01-05 17:00] #193 closed, assigned to nobody

[2022-01-06 15:48] enridaga opened #194 "Nested service not working with `fx:content` property"
The following query does not provide results:
[code]
I include the trace logs for convenience:
[code]

[2022-01-06 17:10] enridaga commented on #189
I am progressing this stream of activity in the following way.

The file is parsed only at first invocation, then data is attached to the containers, incrementally. Subsequent calls to the `find(g,s,p,o)` functions are returning data stored in the container `s`. The idea is that the file is streamed only if the calling quad pattern does not provide a subject which is a container that was in turn g

[2022-01-06 17:14] enridaga commented on #189
The current implementation requires extending Jena `Node`, which is only possible for `Node_Uri` nodes (blank nodes cannot be extended at the moment, the constructor is not visible). I want first to be sure this is a viable solution before asking the Jena people to expose the constructor of Node_Blank.

[2022-01-06 17:15] enridaga commented on #189
Please note that this is not working at the moment. Test failing: https://github.com/SPARQL-Anything/sparql.anything/blob/dbe44ffeb8e7a3a11e62eb11ce38ce43aad0583e/sparql-anything-it/src/test/java/com/github/sparqlanything/it/FileStreamTest.java#L70

[2022-01-07 12:06] enridaga opened #195 "[Spreadsheet] Triplifier skips empty rows and cells"
This returns incorrect data if there are gaps in the values.

[2022-01-07 12:23] enridaga opened #196 "[Spreadsheet] First not not skipped with `spreadsheet.headers=true`"
As the summary says

[2022-01-07 12:34] #195 closed, assigned to enridaga

[2022-01-07 12:34] #196 closed, assigned to enridaga

[2022-01-07 12:36] enridaga commented on #194
@luigi-asprino what do you think it's happening here?

[2022-01-12 15:00] alexdma opened #197 "String.split() and iterations in general"
The use case is that I am dealing with a CSV whose values themselves are sometimes comma-separated strings, e.g.

    "Fotomontaggio","Biennale di Venezia 1978","Carta, Carta da lucido, Inchiostro , Grafite, Matita colorata"

Ideally, I would want to call a wrapper function of `String.split()` on the last value and generate a URI for each material. However, we know SPARQL is not well-suited for lo

[2022-01-13 12:40] enridaga commented on #197
That's a great proposal! Indeed, support for functions that return a single output is easy in SPARQL. In the past, I have used the Jena magic property `apf:strSplit` [1] but the approach is every cumbersome. Essentially the variable which is the subject of the triple is evaluated several times for each one of the elements of the array - it is impossible to know the order.

Actually, it is not impo

[2022-01-13 12:41] enridaga commented on #197
This is intriguing, do you think this is possible without changing the SPARQL syntax? How do you think this would look like from the user point of view?

[2022-01-13 17:37] enridaga commented on #189
The basic way out for the moment is creating an in-memory index of Quads while returning the first set of Quads. Future work then will be looking into options to remember the generated triples (better type of in-memory index or file system)

[2022-01-17 10:18] enridaga commented on #163
A custom magic property approach could be expanded to also pass parameters to Python functions, returning data can then be expressed as Facade-X. In other words, one could use the external component as an intermediate processor of the data source.

E.g. JSON File > Python function (returns any Python object) > Facade-X representation to be queried in the service clause.

This may require the devel

[2022-01-17 10:20] enridaga commented on #163
Apparently, APache Pig uses Jython for the same reason (custom functions): https://pig.apache.org/docs/r0.17.0/udf.html#jython-udfs

[2022-01-17 10:42] enridaga commented on #163
Note that Jython currently only supports Python 2.7 (Python 3.8 is under development but without a clear timeline: https://github.com/jython/jython/issues/24#issuecomment-670022103)

Another project to look into is GraalVM for Python https://github.com/oracle/graalpython/blob/master/docs/user/Jython.md

[2022-01-17 10:43] enridaga commented on #163
Maybe there is value in considering supporting script invocation (e.g. via a SH terminal) with the assumption that STDOUT shall return any of the supported SPARQL Anything formats.

[2022-01-20 17:28] enridaga commented on #189
After some more experiments, I don't believe this is going to improve the performance of reading large files and executing the query in memory.

I think the mistake is that we are trying to use the same DatasetGraph interface for executing queries on an in-memory index dynamically populated. Although we can manage the various indexes so that iterators can wait for more data to be loaded (until the

[2022-01-20 17:40] enridaga commented on #189
I will leave this issue open for a while and then remove the code before closing.

[2022-01-21 13:38] justin2004 commented on #189
maybe we could use [StreamRDF](https://jena.apache.org/documentation/javadoc/arq/org/apache/jena/riot/system/StreamRDF.html?is-external=true)?
[code]

that is how [csv2rdf does it](https://github.com/AtomGraph/CSV2RDF/blob/master/src/main/java/com/atomgraph/etl/csv/stream/CSVStreamRDFProcessor.java#L82). that is, it operates on 1 row at a time.

[2022-01-24 09:54] enridaga commented on #189
Yes, my plan is to implement something similar, what was called Slicing #21
With this approach, the input data is segmented according to some format-specific criteria (CSV->row, JSON->if the main element is an Array we can iterate over it or require a JsonPath as selector; XML-> requiring an XPath expression, ...)

[2022-01-24 10:02] enridaga commented on #189
Code removed from development branch, tagged las `issue189`

[2022-01-24 10:27] enridaga commented on #189
However, we can use  StreamRDF for improving the way triplifiers pass the RDF data, instead of committing to a DatasetGraph...

[2022-01-24 10:28] #189 closed, assigned to nobody

[2022-01-24 11:01] enridaga commented on #188
Ops, broken tests!

[2022-01-24 16:13] #188 closed, assigned to enridaga

[2022-01-26 13:01] enridaga opened #199 "Replace printStackTrace with proper logger"
And remove `printStackTrace()`

[2022-01-26 13:14] #187 closed, assigned to enridaga

[2022-01-26 17:49] enridaga commented on #21
An implementation would affect the main processor as well as the Triplifier interface (maybe requiring another interface, specifically for supporting slicing).

Currently:
https://github.com/SPARQL-Anything/sparql.anything/blob/69332b35b491beb6b7d102221c71e96c41cae2fd/sparql-anything-engine/src/main/java/com/github/sparqlanything/engine/FacadeXOpExecutor.java#L195-L199

Slicing would require somet

[2022-01-26 17:52] enridaga commented on #21
Reading now the initial comment I think there should be, instead, format-specific criteria for slicing. For example. CSV files can be slides row by row (or in groups of N). JSON documents may require a JsonPath expression or XML docs an XPath, and HTML doc a CSS selector, etc...

[2022-02-01 08:50] enridaga opened #200 "Tests helper for fx executions"
We need a method similar to the `AbstractTriplifierTester` for testing full executions.
Resources should include simply a SPARQL query and an expected result (as file).
The query may use a placeholder to refer to the location of the FX input, to be replaced at runtime by the tester

[2022-02-01 09:11] #200 closed, assigned to enridaga

[2022-02-01 09:23] enridaga commented on #21
Need testing, prepared with #200

[2022-02-02 09:09] enridaga commented on #49
I think we can mark this as solved.

[2022-02-02 09:09] #49 closed

[2022-02-02 09:09] enridaga commented on #135
Slicing is being implemented in #21

[2022-02-02 13:25] enridaga commented on #26
As part of this, we may want to separate CLI handling from execution workflow

[2022-02-03 22:22] #172 closed, assigned to nobody

[2022-02-04 08:58] enridaga opened #201 "[Documentation] Improve documentation"
I'm going to use this comment to collect the general structure of the documentation and general format issues

# General structure

The plan for improving the documentation is the following.
The README will be left as it is since it already gives an overview of what the tool does.
The sections that are going to be added are:
- One section for each format showing concrete examples of triplification

[2022-02-04 09:26] enridaga commented on #201
I think we can leave this issue for any commit related to improvements in the docs

[2022-02-04 14:28] enridaga commented on #21
This is implemented by the CSV triplifier. Will take care of other formats in separate issues.

[2022-02-04 14:28] #21 closed

[2022-02-04 14:30] enridaga opened #202 "[JSON] support option `slice`"
The policy could be:

- If main container is a JSON Array, slice items
- Otherwise, one or more JsonPath expressions could be provided, adding an option `json.slice.expr`

[2022-02-04 14:30] enridaga opened #203 "[XML] Support option `slice`"
Similar to #202 but for XML

[2022-02-04 14:35] enridaga opened #204 "Prepare release 0.6.0"
As the summary says, a good amount of new features and fixes:
https://github.com/SPARQL-Anything/sparql.anything/compare/v0.5.1...v0.6-DEV

[2022-02-07 16:33] enridaga commented on #26
Error:

[code]

[2022-02-07 17:06] #26 closed

[2022-02-07 17:07] enridaga opened #205 "[CLI] Support SPARQL Update queries"
The CLI only supports query modes that return some output. This is an easily avoidable limitation.

[2022-02-08 10:13] enridaga opened #206 "Check for unbound template parameters before execution"
When this happens, the output is a quite unsettling SO
[code]

[2022-02-10 14:41] enridaga commented on #21
Reopening because of a bug happening with some query forms

[2022-02-10 16:17] enridaga commented on #204
List of closed issues

- #106
- #133
- #154
- #164 (partly)
- #171
- #176
- #181
- #183
- #185
- #186
- #187
- #188
- #189
- #190
- #192
- #193
- #195
- #196
- #198
- #200
- #21
- #26
- #90

[2022-02-10 16:51] #204 closed, assigned to enridaga

[2022-02-10 16:51] enridaga opened #207 "Prepare development branch v0.7-DEV"
As the summary says

[2022-02-14 16:36] mielvds opened #208 "Generating RDF collections"
Hi! I was wondering whether SPARQL anything can support the construction of an [RDF Collection](https://www.w3.org/TR/rdf-schema/#h3_ch_collectionvocab), eg. in cases where order of a CSV or JSON array needs to be mapped to as `rdf:List` (like for the object of `skos:memberList`).

1. Do the functions with container membership properties extend to collections as well, or can they be made that way?

[2022-02-17 08:59] luigi-asprino opened #209 "Supporting querying of AMR structures"
Abstract representation meaning (AMR) is a semantic representation of the meaning of a sentence

[code]

It would be useful having a triplifier for that.

[2022-02-17 09:05] enridaga commented on #209
Yes yes yes!

[2022-02-17 09:50] enridaga commented on #108
I consider this one closed as we are tracking improvements to documentation in #201

[2022-02-17 09:50] #108 closed, assigned to nobody

[2022-02-17 09:51] enridaga commented on #46
This was done in #26

[2022-02-17 09:51] #46 closed

[2022-02-17 09:55] enridaga opened #210 "[CLI] parametrised queries: give the option to join the output"
At the moment, parameterized queries (using options `-v`,`-i`,`-p`) are producing separate output/files for each one of the input bindings. It would be useful to give the user the opportunity to get them all in the same resultset/graph/file

[2022-02-17 13:03] enridaga commented on #208
Thank you, this is an interesting question!

They only work with container membership properties, querying `rdf:List` is quite hard in SPARQL (and you don't need to to query Facade-X as collections are represented as containers, like `rdf:Seq` and not `rdf:List`). There is no plan at the moment of adding functions for `rdf:List`. However, you can find something in Apache Jena functions that should

[2022-02-17 13:54] mielvds commented on #208
Thanks @enridaga, that query is quite neat and solves the problem! In fact, I think a repository of query templates for common and not so common patterns would be a nice addition of the website or docs. Patterns like that "could" also be captured in functions such as the jena ones for usability sake.

Me neither, but if SKOS tells you it's `rdf:List`, it's `rdf:List` :)

[2022-02-17 14:01] enridaga commented on #208
Indeed :)

[2022-02-18 08:52] mielvds opened #211 "Implementation architecture"
Hi all!

I was wondering if there is some info on how SPARQL Anything is implemented? I gather it's mostly Jena, but a diagram of all the components would be helpful in case one were to make improvements.

[2022-02-18 08:58] mielvds opened #212 "How to do Pipelines?"
The website says

_Pipelines_

_Use SPARQL Results Sets as input for parametric queries. Decompose your data integration workflow_

That's sounds interesting! But what do you mean exactly and how does it work? I currently use Apache Airflow to organise a decomposed mapping process, so anything in that direction is helpful.

[2022-02-18 12:38] enridaga commented on #211
Agreed, we need to develop some technical documentation on the implementation, e.g. how to develop new functions or new adapters.

Key places to look at are:

- The command line interface (to see the end-to-end process): [SPARQLAnything.java](https://github.com/SPARQL-Anything/sparql.anything/blob/9917eac65ed2b4e78a8c57b99d13caa695c11229/sparql-anything-cli/src/main/java/com/github/sparqlanything/

[2022-02-18 12:41] enridaga commented on #212
About the parametric queries, this is achieved by the CLI, see options `-v`, `-i` (the Results Sets as CSV), and `-p` (use parameters in output file names.

Maybe the best example is in this [showcase project](https://github.com/SPARQL-Anything/showcase-imma), for example:
[code]
Where `imma-artists.xml` is a SPARQL result set.

[2022-02-18 16:26] mielvds commented on #212
aha I see! Well too bad you can't do `fx -q imma-artists.sparql -o imma-artists.xml -f xml | fx -q imma-artist.sparql - -p "artists/?artistNickname.jsonld" -f json` :)

What I also find useful is splitting mapping queries in multiple queries, you know, for the conginitive load. Can you repeat `-i` to run multiple queries in sequence on the same data ?

[2022-02-19 00:42] justin2004 commented on #212
you could do something like the unix pipe by running insert queries instead of selects/constructs.

e.g.

[code]

then more inserts then eventually a select or construct...
[code]

you can think of the pipeline as just incrementally building named graphs.

[2022-02-19 00:50] justin2004 commented on #209
AMR reminds of [nltk's](https://www.nltk.org/howto/parse.html) parse output:
[code]

also, clojure (a JVM language) has good python interop so it is really easy to invoke nltk (python) functions from the JVM.
we could even allow a user to present natural language sentences and then we could parse it with nltk and return a triplified parse tree.

[2022-02-19 01:10] justin2004 commented on #175
@luigi-asprino
i just checked and now this does not return results:
[code]

but it did in December.

[2022-02-19 01:11] justin2004 commented on #175
i wonder if reacting to fx:properties outside of a service clause is more trouble than it is worth?

[2022-02-19 10:36] aldogangemi commented on #209
Differently from the hierarchical parsing from NLTK, Abstract Meaning
Representation produces a graph, although not a formal knowledge graph.
It'd be beneficial to sparql-anything an AMR graph, and later refactor it
to a real knowledge graph.

There are two existing approaches to do it, one converts it into plain RDF,
but I have not checked it out.
The second is amr2fred, which does the full monty

[2022-02-21 09:54] #207 closed, assigned to enridaga

[2022-02-21 09:59] enridaga commented on #175
At the moment, fx properties are not meant to work outside a service clause. However, we can still think of a no-service mode (see #150) where fx properties are supposed to be provided externally, for example, via CLI. A similar thing could be done via HTTP query parameters for the server mode.

[2022-02-21 10:03] enridaga commented on #175
I just renamed the title for better clarity. I think this is solved and we can resume the discussion on #150

[2022-02-21 10:03] #175 closed, assigned to nobody

[2022-02-21 10:06] enridaga commented on #206
To clarify, this happens when there is a basil template variable, e.g. `?_param` that is in a position so that the executor cannot solve the query, for example, when the parameter is supposed to provide the value for `fx:location`

[2022-02-21 10:15] #212 closed, assigned to nobody

[2022-02-21 10:15] #208 closed, assigned to nobody

[2022-02-21 17:37] justin2004 commented on #211
I know this doesn't address the absence of documentation but my general approach for getting the lay of the land is to find a line(s) of code I basically understand (in isolation) and then insert a break point there or add a "print stack trace" statement to see how execution arrives there.
That is usually enough to orient me and then my own interest in the project has to take me the rest of the wa

[2022-02-28 10:53] enridaga opened #218 "Function to build arbitrary typed literals"
It looks like the only way to build a typed literal from a variable is to use any of the XSD functions as casting operators. However, sometimes we don't want to cast the string value or we want to attach custom datatypes...

[2022-02-28 13:06] justin2004 commented on #218
is this different than [strdt()](https://www.w3.org/TR/sparql11-query/#func-strdt)?

[2022-02-28 13:16] enridaga commented on #218
Ah ah ah! No difference at all!  I could not find it in the spec and it took 2 minutes to implement it ... one difference though is that this function behaves as STRDT and STRLANG depending on the input type. Well, we have it now ...

[2022-03-01 10:26] enridaga opened #219 "[CLI] Nicer output filenames with input result set"
Currently, given the following:
[code]
the system executes a query for each set of binding in `resultSet.xml` but the output file names are not nice:
[code]
We want them to look like the following instead:
[code]

[2022-03-01 10:27] #219 closed, assigned to enridaga

[2022-03-01 14:17] enridaga opened #220 "Triplifier.getInputStream, remove URL argument"
That can be retrieved from the properties (`Triplifier.getLocation`) - besides, triplifiers don't need to know where the content is coming from as this may be from a file, an HTTP connection, the `content` argument

[2022-03-01 14:24] enridaga opened #221 "Executable command as input for triplifiers"
This was partly discussed in #163

We can add an fx option `fx:command` to enable users to specify an executable command line string, which is expected to return one of the supported formats to STDOUT. This can be used, for example, as following:
[code]

[2022-03-01 15:04] enridaga commented on #220
This should allow to use, for example, the JSON triplifier with the `fx:content` argument. Some triplifiers still require a location: Archive, Binary, RDF, and Spreadsheet.

[2022-03-01 15:35] enridaga commented on #221
Basic implementation done, testing on different platforms/use cases needed.

[2022-03-01 15:39] #220 closed, assigned to enridaga

[2022-03-01 15:40] #218 closed, assigned to enridaga

[2022-03-02 02:25] justin2004 opened #222 "jsontriplifier tries to coerce large number to Integer"
if you try to triplify this:
[code]

you get:
[code]

[2022-03-02 03:02] justin2004 commented on #222
i discovered this bug while solving this:
https://github.com/kg-construct/rml-questions/discussions/11#discussioncomment-2277573

[2022-03-02 08:45] enridaga commented on #222
Nice catch, pull request merged

[2022-03-02 08:45] #222 closed, assigned to justin2004

[2022-03-02 08:52] enridaga opened #224 "[Markdown] Fix NPE when block don't have firstChild"
A trace log message breaks when some items don't have a firstChild

[2022-03-02 09:00] #224 closed, assigned to enridaga

[2022-03-02 09:03] enridaga opened #225 "[Yaml] Fix NPE when object value is null"
It happens:
[code]

[2022-03-02 09:07] #225 closed, assigned to enridaga

[2022-03-07 10:51] luigi-asprino commented on #194
It seems it doesn't generate any ``xyz:YamlFrontMatter`` .
I've tried this query

[code]

which has this result

[code]

[2022-03-07 11:09] luigi-asprino commented on #194
This is probably due to the fact that there is an extra line at the end of the YAML code.
Addressed by this [PR](https://github.com/polifonia-project/external-components/pull/8)

[2022-03-07 11:36] luigi-asprino commented on #194
The other problem is that the query is to be re-designed. The outer service has to extract the content, while the inner has to triplify the extracted content.

[code]

[b243122](https://github.com/SPARQL-Anything/sparql.anything/commit/b24312212ceeb7db5a8b175c4efb7cc2d7cab4fb) adds a test for this issue.

[2022-03-07 11:36] #194 closed, assigned to luigi-asprino

[2022-03-09 12:02] enridaga opened #227 "Add function `fx:String.removeTags`"
Self-explanatory, a utility function to strip tags from a string

[2022-03-09 12:02] #227 closed, assigned to enridaga

[2022-03-15 13:50] enridaga opened #228 "AbstractTriplifierTester to support option `slice`"
It would allow to quickly design tests with and without slicing

[2022-03-15 13:52] enridaga opened #229 "AbstractTriplifierTester to allow reuse of the same input/output on different test methods"
We can add a convention to allow multiple methods to reference the same input/output on different test methods. This would make it easier to confront different options expecting the same RDF output (e.g. with or without `slice`)

[2022-03-15 13:53] #229 closed, assigned to enridaga

[2022-03-15 13:54] #228 closed, assigned to enridaga

[2022-03-15 14:00] enridaga commented on #202
Implemented basic functionality, assuming the top level element is an array.

[2022-03-15 14:01] enridaga commented on #202
The build was broken due to a missing dependency version in the pom.

[2022-03-16 13:36] enridaga opened #230 "[YAML] Bug with lists as string property value"
The current code does not generate links between the container and the contained list entity.

[2022-03-16 14:52] enridaga opened #231 "[Markdown] NPE when link values are null"
As the summary says

[2022-03-16 14:54] #231 closed, assigned to enridaga

[2022-03-16 14:54] #230 closed, assigned to enridaga

[2022-03-23 17:39] enridaga opened #233 "[JSON] Support JsonPath expressions"
While developing #202 we added support for slicing via a JsonPath expression. The same can be used for the standard execution method, as a way of filtering the input and, eventually, saving resources in some scenarios.

[2022-03-23 17:58] enridaga opened #234 "[Testing] AbstractTriplifierTester to support tests that trigger an exception"
Sometimes we want to force the system to break, for example, testing an unsupported/inconsistent combination of parameters.

[2022-03-23 18:12] #234 closed, assigned to enridaga

[2022-03-25 22:03] enridaga opened #235 "[XML] Support XPath expressions"
For developing #203 we need some XPath expression, so why not add this option to the base triplifier as well?
It can be used for the standard execution method, as a way of filtering the input and, eventually, saving resources in some scenarios.

[2022-03-28 10:31] enridaga opened #236 "[XML] Support for XPath expressions"
As the summary says, since we need it for configuring the slicing operation, see #203

[2022-03-28 10:32] enridaga commented on #236
Close as duplicate of #235

[2022-03-28 10:32] #236 closed, assigned to enridaga

[2022-03-28 10:33] #202 closed, assigned to enridaga

[2022-03-28 10:33] #203 closed, assigned to enridaga

[2022-03-28 10:33] #233 closed, assigned to enridaga

[2022-03-28 10:33] #235 closed, assigned to enridaga

[2022-03-29 12:40] enridaga opened #238 "[CSV] Configurable quote char"
Add option `csv.quote-char`

[2022-03-29 12:41] enridaga opened #239 "Close all input streams"
`Triplifier.getInputStream` is processed in many ways without appropriate auto-closing syntax

[2022-03-29 14:17] enridaga commented on #239
Re-opening, as there are some InputStreams that should be closed when iterators finish off (what to do when they are not traversed in full?)

[2022-03-30 19:15] enridaga opened #240 "[JsonPath] Update JsonSurfer"
The issue at https://github.com/wanglingsong/JsonSurfer/issues/75 seems solved, now waiting for release.

[2022-04-03 13:02] justin2004 opened #241 "bind(somefunctions()) interferes with outer service"
This works as expected:
[code]

but if you uncomment the calls to `bind()` one at a time some of them cause the outer service to not return any results. That is, all the results come from the inner service.

[2022-04-03 13:04] justin2004 commented on #241
here is the expected output:

|s     |p                   |num  |bob   |second\_cmd |ss    |pp                  |oo                                  |
|------|--------------------|-----|------|------------|------|--------------------|------------------------------------|
|\_:b0 |http://www\.w3\.org/1999/02/22\-rdf\-syntax\-ns\#\_1|4    |lala  |seq 4       |\_:b1 |http://www\.w3\.org/1999/02/22\-rd

[2022-04-03 13:09] justin2004 commented on #241
The reason I think this should work is that the calls to `bind()` in this query don't alter the results of the outer service.

[code]

[2022-04-07 10:59] enridaga opened #242 "Support strategy = 0 with slicing"
As the summary says, at the moment slicing only works with s = 1

[2022-04-07 11:24] #242 closed, assigned to enridaga

[2022-04-07 16:19] enridaga commented on #173
I think we agreed that fx properties need to be inside `SERVICE` so this on is won't fix

[2022-04-07 16:19] #173 closed, assigned to nobody

[2022-04-07 16:23] enridaga commented on #163
I am not sure where we want to go with this one.

- Jena has a number of convenient ways to extend the library of functions (e.g. using Javascript)
- Is there a use case that cannot be easily developed with just sending the data to an external script with the `fx:command` option?

[2022-04-07 16:26] enridaga opened #243 "Profile class loader and impact in performance"
The CLI has some trace log messages to monitor execution time, for example:
[code]

I noticed how most of the times there are about ~400ms spent in classloading before executing the query. The project is growing fast and I was wondering maybe we should do some analysis and see if we there are unneeded classes loaded (for example, functions loaded as static code). It may be worth studying whether w

[2022-04-07 16:38] enridaga commented on #238
This seems to be fixed

[2022-04-07 16:38] #238 closed, assigned to enridaga

[2022-04-13 14:09] mielvds opened #244 "Read from STDIN"
From a prior discussion:

I haven't thought of getting STDIN, not impossible, but it would probably look more like:
[code]
_Originally posted by @enridaga in https://github.com/SPARQL-Anything/sparql.anything/discussions/213#discussioncomment-2525256_

Could stdin be implemented, for instance for piping JSON into SA?

Expected behaviour:
- other that the source of input, it should behave the same

[2022-04-25 06:21] luigi-asprino opened #245 "Using rdfs:member instead of rdf:_1 etc."
[rdfs:member](https://www.w3.org/TR/rdf-schema/#h4_ch_member) is the superproperty of the container membership properties rdf:_nnn. It might be useful in some cases to generate the superproperty rdfs:member instead of the rdf:_nnn e.g. accessing to child containers in XML when the order of the child containers is not clear.

[2022-04-25 07:18] luigi-asprino commented on #245
Closed via [9520cd6](https://github.com/SPARQL-Anything/sparql.anything/commit/9520cd6c2f6ac821404f1973a5b90540eb2ba580)

[2022-04-25 07:18] #245 closed, assigned to nobody

[2022-04-27 08:03] luigi-asprino opened #246 "Inconsistent Escaping"
Percent escaper used by Triplifier.toSafeURIString is badly initialised since it escapes safe URI characters like "-", "_" etc.

[2022-04-27 08:09] luigi-asprino commented on #246
With 097b944 "-", "_", "." and "~" are considered safe (this complies with https://www.ietf.org/rfc/rfc3986.txt)

[2022-04-27 08:09] luigi-asprino commented on #246
Closing via 097b94401c65e2fcc7ce222ba6427b0d7383bbf5

[2022-04-27 08:09] #246 closed, assigned to nobody

[2022-04-28 08:43] enridaga commented on #246
Is this the same as #113 ?

[2022-04-28 08:59] luigi-asprino commented on #246
Of course it is related to #113, but I think that #113 is a broader discussion on how to make pretty local names.
Here, I've just made the triplification of JSON consistent with others triplifiers.
Before 095b944, a field like "first_name" was transformed into "first%5Fname" by the JSON triplified.

[2022-04-28 10:39] enridaga commented on #246
Indeed, #113 is broader but I think most of the issue was on the configuration of the escape -- thank you for spotting that!
It looks like the change applies to any triplifier since that method is used from within the triple builder not the triplifiers. Which is a good thing :)

We need to mention that in the next release notes since this change may affect existing queries.

[2022-05-02 16:05] enridaga commented on #177
I see three scenarios:

1 - execute SELECT query and use output
[code]

2 - execute CONSTRUCT query and use output
[code]

3 - chain two queries:
[code]

[2022-05-03 14:05] milvld opened #247 "Loading JSON input via -i parameter"
Hi

I'm trying to load an external input file via one of the command-line options, but I keep getting errors. I tried it with the query and Friends data from the documentation below and keep on getting the same errors.

Couple of questions:
- What am I overlooking regarding the JSON parse error? The JSON seems to validate otherwise.
- Are you supposed to use the `-i` or `-l` parameter to load data

[2022-05-03 14:25] milvld opened #248 "Handling underscores in JSON keys"
Hi

It seems that SPARL-Anything has trouble parsing underscores in JSON keys. I suppose this is related to the BASIL convention that is based on the underscore character?

Perhaps the underscore in JSON input should be escaped before the actual parsing or transformation process? Or it should be converted behind the scenes to a more 'innocent' character before starting the parsing/transformation a

[2022-05-03 14:34] enridaga commented on #247
Executing FX transformations outside service clauses is not supported at the moment.

One way could be to change the query as follows:
[code]
and pass the value for the `?_file` basil template variable via an input parameter:
[code]

(Not tested)

The option `-i` is limited to SPARQL result set files to be used as input for parametrised queries (where the bindings in the result set have the same n

[2022-05-03 14:38] enridaga commented on #248
It is possible this is related to #246 and #113 -- which are implemented (not released yet)

Can you try to run your test with the latest version under development (v0.7.0-SNAPSHOT)?

[2022-05-03 18:31] justin2004 commented on #248
you can also run a simple `s p o` query to see what the predicate names are:

[code]

[2022-05-04 09:36] milvld commented on #248
@justin2004 : Thanks for your reply, I hadn't thought about that (I'm still new to SPARQL and a bit unfamiliar with Java as well :) ). It seems that SPARQL-Anything v0.6 applies percent-encoding for underscores, resulting in the predicate `xyz:stars%5Fseries` instead of `xyz:stars_series`.

@enridaga : Thanks for your quick reply as well; I tried it with v0.7 and that works!

[2022-05-04 09:36] #248 closed, assigned to nobody

[2022-05-04 13:39] milvld commented on #247
@enridaga : Cool, it works!

I misread the documentation regarding the `-l` parameter; I thought it accepted any type of input file (as long as its media/mime type was specified with the `-f` parameter), not just data already in RDF.

Anyway, I'll experiment a bit further using the `-v` parameter and the basil template variable.

Do the basil template variables allow multiple inputs like this? Or

[2022-05-05 15:44] enridaga opened #249 "Explain"
ARQ has a nice Explain feature that shows the algebra of the query. Maybe we should think about something similar, to show the ARQ algebra / execution plan but also some details of the SPARQL Anything internal process (ondisk, slice, strategy,...)

[2022-05-06 10:56] enridaga commented on #221
This is done now, the build was fixed in another issue.

[2022-05-06 10:56] #221 closed, assigned to enridaga

[2022-05-06 10:56] enridaga commented on #206
This will wait for v0.8.0

[2022-05-06 11:02] enridaga opened #250 "Release v0.7.0"
Prepare the release v0.7.0

[2022-05-06 11:48] #250 closed, assigned to enridaga

[2022-05-06 11:49] enridaga opened #251 "Prepare branch v0.8-DEV"
As the summary says

[2022-05-09 09:43] enridaga opened #252 "Playground"
Develop further the server version to integrate a UI

[2022-05-09 09:43] enridaga opened #253 "Integrate Showcases into documentation"
As the summary says

[2022-05-09 09:44] enridaga opened #254 "Add Quickstart to documentation"
Easy step by step guide

[2022-05-09 09:50] #251 closed, assigned to enridaga

[2022-05-09 10:21] luigi-asprino commented on #201
I'm going to use this comment to collect the general structure of the documentation.

The plan for improving the documentation is the following.
The README will be left as it is since it already gives an overview of what the tool does.
The sections that are going to be added are:
- One section for each format showing concrete examples of triplification in case of different arguments.
- A getting s

[2022-05-09 13:23] enridaga commented on #201
Cool, I would also add a section on resources with links to external material that may be relevant

[2022-05-10 16:08] luigi-asprino opened #255 "Stack overflow in JSON transformation with JSON path"
Input

[code]

Query

[code]

[2022-05-10 16:23] luigi-asprino commented on #255
Closed via [05f395c](https://github.com/SPARQL-Anything/sparql.anything/commit/05f395ca0b93946f435e2a0da5e23a07c20cb0ee)

[2022-05-10 16:23] #255 closed, assigned to nobody

[2022-05-10 17:53] luigi-asprino opened #256 "Slot order when multiple JSON Paths are provided"
This  query

[code]

returns

[code]

I would expect this instead (in which generated slots are ordered according to the JSON path they correspond to).

[code]

I'm not sure if replacing Set with List [here](https://github.com/SPARQL-Anything/sparql.anything/blob/89cec76e6e72e183a2b7677f39d401a024063efa/sparql-anything-json/src/main/java/com/github/sparqlanything/json/JSONTriplifier.java#L307) wou

[2022-05-10 18:06] luigi-asprino commented on #256
Seems that using List doesn't affect anything else.

[2022-05-10 18:06] luigi-asprino commented on #256
Closed via [d7c98bf](https://github.com/SPARQL-Anything/sparql.anything/commit/d7c98bf237d9f411c382a4268e37a8f67c41e2a6)

[2022-05-10 18:06] #256 closed, assigned to nobody

[2022-05-11 14:25] luigi-asprino opened #257 "Use cases for the browser-related HTML options"
Hi,

I'm collecting use cases for each format-specific option.
This issue is of course related to #201 .
@justin2004 or @enridaga, could you give me some examples of the browser-related HTML options.
You can include the examples in the page dedicated to HTML https://github.com/SPARQL-Anything/sparql.anything/blob/v0.8-DEV/format/HTML.md
The section dedicated to each option has to be structured as

[2022-05-11 17:14] luigi-asprino opened #258 "Supporting tsv files"
As the summary says

[2022-05-11 17:18] luigi-asprino commented on #258
closed via [09f4fca](https://github.com/SPARQL-Anything/sparql.anything/commit/09f4fcac4bd6d9969d1b27b12cf2bb3a0d2113c5)

[2022-05-11 17:18] #258 closed, assigned to nobody

[2022-05-11 17:18] luigi-asprino commented on #258
closed via [09f4fca](https://github.com/SPARQL-Anything/sparql.anything/commit/09f4fcac4bd6d9969d1b27b12cf2bb3a0d2113c5)

[2022-05-12 05:07] luigi-asprino opened #259 "Implement a single strategy for transforming keys into safe local names of URIs"
This relates to #246.

I think that the best way to do that is to delegate transformation to [Triplifier.toSafeURIString(String)](https://github.com/SPARQL-Anything/sparql.anything/blob/7ae4b178ed1ff7bb6ade612bf7b4f205e1418588/sparql-anything-model/src/main/java/com/github/sparqlanything/model/Triplifier.java#L188) method.
Essentially, the method does the percent encoding of the string, but additi

[2022-05-12 05:11] luigi-asprino commented on #259
With https://github.com/SPARQL-Anything/sparql.anything/commit/00f3d7a08bc8949b2c050c9c11250ac72df5e01f , triplifiers delegate the string sanification to the method FacadeXBuilder.addValue which, in turn, delegates the sanification to Triplifier.toSafeURI

[2022-05-12 12:13] justin2004 commented on #257
hey @luigi-asprino ,

i use all these options
[code]

in https://github.com/justin2004/weblog/tree/master/scraping_with_sparql.

[2022-05-15 11:44] enridaga commented on #201
Another thing to add in the guidelines is that example files need to be published at https://github.com/SPARQL-Anything/sparql-anything.cc-site.git in folder `/root/examples/`

[2022-05-15 16:02] luigi-asprino commented on #257
Great! I forgot that those properties were used there, thanks!
I have referenced the post from the HTML page.
I think we can close the issue.

[2022-05-15 16:02] #257 closed, assigned to nobody

[2022-05-16 05:53] luigi-asprino opened #260 "Strategy=1 doesn't consider graph patterns within filters"
The query

[code]

Returns

[code]

because the OpComponentsAnalyser doesn't visit expressions of the OpFilters but just goes through its sub ops.

SPARQL Algebra

[code]

[2022-05-16 06:07] luigi-asprino commented on #260
With [d7e1b99](https://github.com/SPARQL-Anything/sparql.anything/commit/d7e1b99755572601533e6a704e99cdab63be80f5)
The OpComponentsAnalyser goes through all the expressions of the OpFilters, visits the expressions and extracts the contained triple patterns.

[2022-05-16 06:07] #260 closed, assigned to nobody

[2022-05-16 10:00] enridaga opened #261 "[XML] Add text/xml to the mime-types"
As the summary says

[2022-05-16 10:01] #261 closed, assigned to nobody

[2022-05-16 15:36] enridaga opened #262 "[HTTP] Nice handling of 404"
At the moment it raises an NPE. If no --silent is given it is OK to raise an error, it just should be better controlled then the following:

[code]

[2022-05-16 15:42] enridaga opened #263 "[XML] Add new test for xml.path"
One that changes the part of the XML input but gives the same result as the others considering the applied XPath.

[2022-05-16 15:42] #263 closed, assigned to nobody

[2022-05-16 20:39] justin2004 commented on #262
related to #63 ?
i've implemented some of this i think. if you use the `silent` keyword.

[2022-05-17 05:58] luigi-asprino opened #264 "txt.group is not processed properly"
As the summary says

[2022-05-17 06:05] luigi-asprino commented on #264
Closed via [2460cdc](https://github.com/SPARQL-Anything/sparql.anything/commit/2460cdcbdc468e7af6707d769622a61a35ae2cab)

[2022-05-17 06:05] #264 closed, assigned to nobody

[2022-05-23 10:53] enridaga opened #265 "[Spreadsheet] null-string and empty cells in Spreadsheets"
`fx:null-string ""` does not seem to work with spreadsheets.

[2022-06-16 16:24] MarcoR1791 opened #266 "Maven Build Failure on Windows 10 (Bug)"
When running "mvn install" on the sparql.anything directory the following is obtained:

Results:

Failed tests:   testWithOnDiskGraph1(com.github.sparqlanything.csv.CSVTriplifierTest): expected 21 quads but found 34
  testWithOnDiskGraph2(com.github.sparqlanything.csv.CSVTriplifierTest): expected 13 quads but found 34

Attached below the full test report from the Powershell:
[TestPrintOutSPARQLAny

[2022-06-16 17:10] enridaga commented on #266
I made a change on the test, can you please try again after updating your working copy with `git pull`?

[2022-06-17 08:30] enridaga commented on #266
I realized I only changed one of the two tests in the first commit! Now it's time to try again :)

[2022-06-17 08:42] MarcoR1791 commented on #266
I have just re-run the test after pulling the latest commit but it still fails the second test unfortunately:

Results :

Failed tests:   testWithOnDiskGraph2(com.github.sparqlanything.csv.CSVTriplifierTest): expected 13 quads but found 34

Please see the attachment for the Powelshell details:
[Test2Output.txt](https://github.com/SPARQL-Anything/sparql.anything/files/8926008/Test2Output.txt)

[2022-06-17 09:16] enridaga commented on #266
First, make sure you do `mvn clean install` just to make sure the building target dir is empty.

I don't understand this line ... can you please try by changing line 169 as follows:

[code]
basically, change the name of the folder from `tmp` to `tmp2`

It's difficult as I don't have a windows 10 myself and cannot reproduce...

[2022-06-17 09:25] enridaga commented on #266
Looking at the code, I am not quite sure what it is supposed to happen after this error anyway as the code proceeds gracefully:

https://github.com/SPARQL-Anything/sparql.anything/blob/ba17609cb4a00838bce074a013e348f2d8ff8b25/sparql-anything-model/src/main/java/com/github/sparqlanything/model/BaseFacadeXGraphBuilder.java#L60-L80

@justin2004 what's your opinion on this one?

[2022-06-17 09:56] MarcoR1791 commented on #266
I have made the suggested change to CSVTriplifierTest.java and ran mvn clean install.

Exactly the same error message resulted.

[2022-06-18 02:16] justin2004 commented on #266
Interesting. Let me get a Windows 10 VM running and I'll see if I can reproduce it.

[2022-06-22 09:23] enridaga opened #269 "Support CSVW"
As the summary says, CSVW files should be queried transparently by using the annotated vocabulary.

[2022-06-28 08:47] luigi-asprino opened #270 "XSLx tripliefier fails with empty rows"
As the summary says

[2022-06-28 09:10] #270 closed, assigned to nobody

[2022-07-13 12:47] dachafra opened #271 "Is possible to generate BlankNodes from data references?"
The behavior should be similar to the one in RML:

[code]

Input
[code]

Output:
[code]

[2022-07-13 15:23] enridaga commented on #271
You can just construct bnodes:

[code]

or, if you want to control the bnode identifier for some reason:

[code]

[2022-07-14 10:21] MarcoR1791 opened #272 "Helper Function for returning the corresponding integers from container membership Properties"
It would be useful to have a specific function that returns the integer part of the container membership properties. This would be useful for example for ordering the results of queries.

This is currently possible with SPARQL but it is unfortunately rather verbose. For example:
[code]

[2022-07-14 10:35] enridaga commented on #272
We can implement a new function `fx:cardinal` to get the integer from a container membership property.

[2022-07-14 10:38] #272 closed, assigned to enridaga

[2022-07-14 13:44] dachafra commented on #271
I've arrived at this point, yes, but you can not take the identifier of the BN from the input source, right?

[2022-07-14 16:55] enridaga commented on #271
You can take it from there, as you see in the second query. I am not sure I get the use case here.
Do you mean that you want to keep blank node identifier in the generated graph?
The generated blank node ids depend on the serialiser. BNode identifiers are supposed to be local and are usually generated during serialisation or during data loading. So, what's the point of forcing them?
If you want to

[2022-07-14 23:02] justin2004 commented on #271
you could do this:

[code]

yielding:

|s     |p                   |o                   |s\_iri                       |
|------|--------------------|--------------------|-----------------------------|
|\_:b0 |http://sparql\.xyz/facade\-x/data/c1|b0                  |\_:file:/app/input\.csv\#\#row1|
|\_:b0 |http://sparql\.xyz/facade\-x/data/c2|A                   |\_:file:/app/input\.csv\#\#row1|
|

[2022-07-14 23:08] justin2004 commented on #271
oh, i know what you want now.
one minute.

[2022-07-14 23:24] justin2004 commented on #271
it appears that apache jena does not let you synthesize a bnode identifier manually.
this is as close as i can get but neither quad is what you are looking for (one isn't a well formed quad and i'm not sure about the other).
though i think an actual IRI is what i would use in practice.

[code]

yields:
[code]

[2022-07-15 08:26] dachafra commented on #271
@justin2004 yeah, exactly! I was able to obtain the same results, but I don't think that any of the results are valid RDF, right?

For letting you know, this is coming from this R2RML test-cases: https://www.w3.org/2001/sw/rdb2rdf/test-cases/#R2RMLTC0002b. It is not that I specifically want to have this feature in the engine but it is more for comparing both solutions. One of the main benefits of

[2022-07-15 08:53] enridaga commented on #271
I don't think it is possible to control the blank nodes that are generated by the serializer, but this is probably a question for `users@jena.apache.org`.

However, while playing with this use case I found an interesting issue when one wants to generate multiple triples with the same bnode on different construct template projections. At the moment, a new bnode is generated for every projection, ev

[2022-07-15 08:59] enridaga opened #273 "Generate triples with the same bnode on different construct template projections"
While playing with #271 I found an interesting issue when one wants to generate triples with the same bnode on different construct template projections.

At the moment, a new bnode is generated for every projection, even if we use the `BNODE` function. This is reproduced as follows:

[code]

query:

[code]

result:

[code]

A new bnode is created for each one of them, while I was expecting that th

[2022-07-15 09:10] enridaga commented on #273
This is implemented in a new function `fx:bnode`. Usage is as follows:

[code]

With `fx -q query.sparql -f ttl` you get:

[code]

[2022-07-15 12:28] justin2004 commented on #271
I thought I just wasn't understanding how to use bnode() with an argument but since you might have also expected different behavior I opened an issue:
https://issues.apache.org/jira/browse/JENA-2340

[2022-07-15 14:33] enridaga commented on #273
The new function behaves as intended but it is worth also looking into how Jena developers react to the issue referred to here https://github.com/SPARQL-Anything/sparql.anything/issues/271#issuecomment-1185497609

[2022-07-15 14:34] #273 closed, assigned to enridaga

[2022-07-16 18:18] justin2004 opened #274 "README -- supported formats"
If someone doesn't scroll all the way through the README they might not see the tool supports YAML, DOCx, etc. because they do not appear near the top:

---
A detailed description of the interpretation can be found in the following page:

[JSON](https://github.com/SPARQL-Anything/sparql.anything/blob/v0.8-DEV/formats/JSON.md)
[HTML](https://github.com/SPARQL-Anything/sparql.anything/blob/v0.8-DEV/

[2022-07-16 18:41] justin2004 commented on #273
Got a [helpful reply](https://issues.apache.org/jira/browse/JENA-2340) back from the Jena developers.

[2022-07-17 10:16] luigi-asprino commented on #274
Hi,
we are working on improving the documentation and lightening the README file by creating a dedicated page for each format.
This is taking longer than I imagined, but I think that is needed.
I can maybe add pointers to the sections of the README for the missing formats.

[2022-07-17 10:21] luigi-asprino commented on #274
Closed via [ee1b2c9](https://github.com/SPARQL-Anything/sparql.anything/commit/ee1b2c91ee479fcf086cd203f58e3573e25f06cf)

[2022-07-17 10:21] #274 closed, assigned to nobody

[2022-07-18 08:23] enridaga commented on #271
Considering they are bnodes, the comparison can be done via graph isomorphism (there are some useful utils for this in Jena).

[2022-07-18 23:21] anaigmo opened #275 "How can I access a list of values inside a JSON file?"
I'm using SPARQL-Anything to transform a JSON file, and I don't find the way of accessing the values of a list in a JSON field.

Input data:
[code]

And the following query:
[code]

But I obtain:
[code]

My desired output would be:
[code]

So I wanted to ask how can I write the query to access that value, thanks!

[2022-07-19 05:06] luigi-asprino commented on #275
Hi,

values of the JSON array are stored in a separate container.
For example, the JSON that you posted is interpreted in RDF as follows:

[code]

Therefore, to extract the confidence values:

[code]

(You can also use the magic property ``fx:anySlot`` instead of ``?slot``. The behaviour is the same)

[2022-07-19 06:25] anaigmo commented on #275
Now it works, thanks!

[2022-07-19 06:34] #275 closed, assigned to nobody

[2022-07-19 12:06] justin2004 commented on #275
also, @anaigmo , i almost always start out running a query like:
[code]
so i can see the RDF i am about to query.

[2022-07-21 08:03] enridaga commented on #265
I just developed a test and it seems to work fine now, probably the code evolved in the right direction since the property is enforced in the graph builder, independently from the triplifier.

[2022-07-21 08:05] enridaga commented on #254
I think we have a quickstart with the JSON example, maybe that is sufficient?

[2022-07-21 13:53] #249 closed, assigned to nobody

[2022-07-21 13:56] #262 closed, assigned to enridaga

[2022-07-21 13:59] enridaga commented on #53
I think we can settle this as we can now use external commands as input to our facade. Assuming a tool like the ones mentioned above can be used as command lines, SPARQL Anything can read the STDIN and operate on the content _as-if_ it was in one of the supported formats, JSON or CSV, for example.

[2022-07-21 13:59] #53 closed

[2022-07-24 16:52] enridaga opened #277 "Misleading CLI option `--input`"
This option is confusing users:
[code]
since one may think that it is for passing files to be transformed, instead, it is about passing values to a parametrised query. Maybe we can remove it and absorb this option with `-v`, I mean making `-v` behave in this way when it gets one value and it is not in the form `varName=varValue`?

[2022-07-27 17:07] anaigmo opened #278 "Concatenating variables from differents levels of iteration in a JSON"
Hi, I'm having some issues generating a subject that concatenates variables from different levels of [this JSON file](https://raw.githubusercontent.com/oeg-upm/rdf-star-generation/main/use-cases/somef/separated_files/sample_input_one_repo.json). I want to concatenate in a single URI (`?rel_subject`) the fields `$.owner.excerpt`, `$.name.excerpt` and each of the values in the array of releases with

[2022-07-28 00:55] justin2004 commented on #278
Hi @anaigmo ,

You are in the land of facades now so you don't need json paths like you do in RML. :)
You can use SPARQL to destructure the json (well the RDF facade of it).

In your query `?owner` gets bound to a bnode so you can't do this:
[code]
so below I generated a UUID for each owner instead.

This query:
[code]

produces these triples:
[code]

Does that look like what you expect?

[2022-07-28 03:08] anaigmo commented on #278
Hi @justin2004,

I guess I'm still attached to JSONPath :) Your solution works as I want, I just made a little change and didn't use the uuid (instead, made the concat with ?o_excerpt) and get the desired output. Thanks for the help!

[2022-07-28 09:40] dachafra commented on #278
Hi @justin2004,
Thank you very much for the help! We were struggling with this issue for a long time bc we didn't find any example in the documentation, so I would suggest that more complex examples (at least for JSON), should be added @enridaga

[2022-07-28 14:22] justin2004 commented on #278
great! hey, after you all have had some time to destructuring json (and yaml, html, etc.) with SPARQL i'd love to chat about your experience (what is hard, what is easy, etc.).

also you can join the general discussion [here](https://github.com/SPARQL-Anything/sparql.anything/discussions/268).

[2022-07-28 14:32] dachafra commented on #278
My two cents: very useful for simple cases (more than RML) but really difficult for complex data integration systems (and very complex to clean, modify and debug a query) in comparison with YARRRML for example. And it's a bit weird that the same things can be done in different ways (facade VS JSONPath, etc). We will publish our thoughts soon ;-)

[2022-07-29 11:58] justin2004 commented on #278
i think using multiple service clauses each with a jsonpath was not exactly the intended use of jsonpath.
i think of jsonpath as a way to move to a subtree so you can focus your query there. plus i think if you use a jsonpath to isolate a subtree the rest of the tree might not get tripified (saving time)... so it is an optimization (is that correct @enridaga ? ).

and for complex data integration

[2022-07-30 07:18] dachafra commented on #278
But I would like to have a full overview of the graph that I'm going to generate, this solution would not work for me, at least. It's something that I have with YARRRML (or Mapeathor) and it's more sustainable and easy to modify IMO.

Well, I think the role of a data/kg engineer is to integrate the data, and then, other users/roles are the ones who actually exploit the data with SPARQL. IMO, the k

[2022-07-30 09:24] luigi-asprino opened #279 "Making TripleFilteringFacadeXGraphBuilder reuse BaseFacadeXGraphBuilder for adding triples in case of matching"

[2022-07-30 09:26] luigi-asprino commented on #279
Closed via [f330656](https://github.com/SPARQL-Anything/sparql.anything/commit/f330656f5abe3ed22a51c1be3ac956401046a0df)

[2022-07-30 09:30] luigi-asprino commented on #279
Closed via [e4dba57](https://github.com/SPARQL-Anything/sparql.anything/commit/e4dba578b55bc8adcd2f4ec1291f9378798677e7)

[2022-07-30 09:30] #279 closed, assigned to nobody

[2022-07-30 14:11] luigi-asprino opened #280 "ondisk not working"
This query

[code]

gives

[code]

After inspecting the code I discovered that in the case of ondisk set, the query has to indicate the graph to be queried.
We can ignore for a moment that the query is supposed to give the same result with and without the ondisk set, but this

[code]

raises an exception `` org.apache.jena.dboe.transaction.txn.TransactionException: Not in a transaction``.

Probabl

[2022-07-30 14:34] luigi-asprino commented on #280
With [this](https://github.com/SPARQL-Anything/sparql.anything/commit/fd5694f1c30971c07e0530316ff48b9cd55d562d) the OpExecutor starts a Read transaction before executing the query. I leave the issue open since I would like to avoid the user indicating the graph to be queried (as for the queries without ondisk property).

[2022-07-30 23:24] justin2004 commented on #280
oh, for on ondisk you must do `graph ?g` -- that is you can't query the union graph like you can with an in memory graph.
i put a comment in the code about it. i'll find it.

[2022-07-30 23:33] justin2004 commented on #280
here it is:
https://github.com/SPARQL-Anything/sparql.anything/blob/v0.8-DEV/sparql-anything-model/src/main/java/com/github/sparqlanything/model/BaseFacadeXGraphBuilder.java#L143-L150

[2022-07-30 23:37] justin2004 commented on #280
i tried to make ondisk behave just like in memory but it turned out that `getUnionGraph()` isn't implemented for the DatasetGraph used when you use a TDB2 on disk.

i almost opened an apache jena bug because i remember thinking it looks like it should be implemented.

[2022-07-31 07:43] luigi-asprino commented on #280
I tried to set the global property symUnionDefaultGraph as true as suggested [here](https://jena.apache.org/documentation/tdb/datasets.html) but didn't work.
Then, I made the [OpExecutor execute the query on the union graph (in case of ondisk set)](https://github.com/SPARQL-Anything/sparql.anything/blob/6a1b0e1208e97d31ecc1a6dee32cd379830ac2f3/sparql-anything-engine/src/main/java/com/github/sparql

[2022-07-31 07:46] luigi-asprino commented on #280
Closed via [6a1b0e1](https://github.com/SPARQL-Anything/sparql.anything/commit/6a1b0e1208e97d31ecc1a6dee32cd379830ac2f3)

[2022-08-01 10:48] enridaga commented on #278
On the support for JsonPath, it is there with the sole purpose of pruning the input file **before** the facade-x interpretation. Crucially, it changes the way the JSON is interpreted, therefore I only recommend using it for pruning very large JSONs or for giving a rational for the slicing option. Essentially, everything from the matching node onwards is transformed as if all matches were in a sing

[2022-08-01 14:44] enridaga opened #281 "Better details on errors with CLI option `-l`"
As the summary says, at the moment it fails without explanation (for example, when files are not found).

[2022-08-01 14:44] #281 closed, assigned to enridaga

[2022-08-01 14:52] enridaga commented on #247
sorry @milvala, I did not reply to this one and stumbled on it now! The option currently supports one single file.

[2022-08-01 15:31] enridaga opened #282 "CLI option `-l` not working on Powershell"
Files are not found

[2022-08-01 15:58] enridaga commented on #282
Fixed in https://github.com/SPARQL-Anything/sparql.anything/commit/85d2d5c101c6c0ec0194b61b756ac0db90c7e26a

[2022-08-01 15:58] #282 closed, assigned to enridaga

[2022-08-01 19:46] enridaga opened #283 "JSON variants"
It is worth looking into supporting a few variants of JSON such as JSON concatenate sequence, JSON Text, and JSON Lines. A useful summary here: https://hackernoon.com/json-lines-format-76353b4e588d

[2022-08-01 19:50] enridaga commented on #283
JSON Lines: https://jsonlines.org/
Also https://en.m.wikipedia.org/wiki/JSON_streaming

[2022-08-03 10:04] luigi-asprino commented on #13
I think we can close this, right?

[2022-08-03 10:04] #13 closed

[2022-08-03 10:07] #44 closed

[2022-08-03 11:42] thabils opened #284 "JSON object values not working with numbers"
The current query doesn't behave as expected when there are objects values that are not a string (number in this case).
[code]

with student.json:
`
{
  "students": [
    {
      "ID": 10,
      "Name":"Venus"
    }
  ]
}
`

It generates an empty output file and doesn't give any errors.

But when we change student.json to (change number to string):
`{
  "students": [
    {
      "ID": "10",

[2022-08-03 14:44] luigi-asprino commented on #284
Hi,

Thanks for reporting this.
I'm unsure if it is something wrong with SPARQLAnything or if it is a misuse of the function [encode_for_uri which expects a string](https://www.w3.org/TR/xpath-functions/#func-encode-for-uri) (instead of an integer).

In fact, if you transform ?0 into a string

[code]

it works as expected

[code]

I couldn't find any indication of what happens in SPARQL in case of

[2022-08-03 14:48] enridaga commented on #284
In my experience, every time a function returns a non-value all the other functions in the chain will do as well so that the resulting BIND variable results unbound. I think those should raise exceptions but this is not a decision for us to take.

Anyway, have you considered using the commodity function `fx:entity` instead, it will do the casting for you:

`BIND( fx:entity ("http://example.com/"),

[2022-08-03 14:52] luigi-asprino commented on #284
Of course, with fx:entity is a way easier :-)

[code]

Tested, it gives the same result.

[2022-08-03 15:04] enridaga commented on #277
Argument `--values` now supports also the case of providing a result set file. I am keeping the `--input` parameter active (but Deprecated) because there are a few showcases that use it, we can remove it in v0.9.0

[2022-08-03 15:04] #277 closed, assigned to enridaga

[2022-08-03 15:05] enridaga opened #285 "Remove deprecated CLI argument `--input`"
After #277

[2022-08-03 15:06] enridaga commented on #135
I think we can close this one and resume the discussion on specific issues.

[2022-08-03 15:06] #135 closed, assigned to enridaga

[2022-08-03 15:17] enridaga commented on #141
This seems to work in the current version, tested with the following query:

[code]

[2022-08-03 15:17] #141 closed, assigned to enridaga

[2022-08-03 15:20] enridaga opened #286 "CLI help to not sort arguments"
It is better to show first the mandatory argument `--query` and then the others in order of importance.

[2022-08-03 15:27] #286 closed, assigned to enridaga

[2022-08-03 15:56] thabils commented on #284
Ah yes that explains it. Thanks for the quick reply and fix.

[2022-08-03 15:56] thabils commented on #284
This indeed looks like a better way to do it, will use it from now on :)

[2022-08-03 16:05] luigi-asprino commented on #284
Great :-) I think we can close this issue now

[2022-08-03 16:05] #284 closed, assigned to luigi-asprino

[2022-08-03 16:11] justin2004 commented on #284
also remember that with [strdt()](https://www.w3.org/TR/sparql11-query/#func-strdt) you can cast to any datatype you want.

[2022-08-04 11:09] enridaga opened #287 "RDFTriplifier is not using the HTTP client"
As a result, calls to Web APIs that return RDF cannot be customised.

[2022-08-08 07:23] luigi-asprino commented on #280
Doesn't work when passing arguments in the BGP.

[2022-08-08 07:25] luigi-asprino commented on #280
Closed with [29b08b1](https://github.com/SPARQL-Anything/sparql.anything/commit/29b08b16a54d488990eb9dbb6d7e2115f59efe17)

[2022-08-08 07:25] #280 closed, assigned to nobody

[2022-08-10 11:10] enridaga opened #289 "Bump basil dependency to 0.8.3"
This improves basil parameters collection from various parts in the query, see https://github.com/basilapi/basil/issues/111

[2022-08-10 11:29] #289 closed, assigned to enridaga

[2022-08-10 11:32] enridaga opened #290 "Misleading log trace message"
The log message sent out is not the query to be executed but the query before parameters are replaced!

[2022-08-10 11:32] #290 closed, assigned to enridaga

[2022-08-11 07:26] #287 closed, assigned to enridaga

[2022-08-11 07:27] #254 closed, assigned to nobody

[2022-08-11 07:28] enridaga commented on #259
Is this one resolved?

[2022-08-11 07:29] enridaga commented on #88
This is very annoying to resolve and not particularly useful either. I am inclined to close with a Won't fix (silly it is, since I opened it myself)

[2022-08-11 07:31] enridaga commented on #266
We are looking towards a release v0.8.0 -- maybe we should move this one to the next milestone v0.9.0?

[2022-08-11 07:31] #88 closed, assigned to enridaga

[2022-08-11 07:35] luigi-asprino commented on #259
Yes.. we can close it

[2022-08-11 07:35] #259 closed, assigned to luigi-asprino

[2022-08-11 07:41] enridaga commented on #206
The code seems to raise an exception when there are mandatory basil variables that are not being replaced with CLI input parameters.

https://github.com/SPARQL-Anything/sparql.anything/blob/e3fe8b5bdf7ca074b8731698c41fd8592549040f/sparql-anything-cli/src/main/java/com/github/sparqlanything/cli/SPARQLAnything.java#L184-L194

[2022-08-11 07:42] #206 closed, assigned to enridaga

[2022-08-11 08:10] enridaga commented on #201
In the last few commits I tried to clean the left side menu

[2022-08-11 08:30] enridaga commented on #253
Added on https://github.com/SPARQL-Anything/sparql.anything/commit/f1e8506d326b004aab64a81ee0fb055fa442a22a

[2022-08-11 08:30] #253 closed, assigned to enridaga

[2022-08-11 10:53] luigi-asprino opened #291 "functions fx:previous and fx:backward return illegal container membership properties"
`fx:backward(<http://www.w3.org/1999/02/22-rdf-syntax-ns#_1> , 3)` returns `<http://www.w3.org/1999/02/22-rdf-syntax-ns#_-2>` this violates the constraints  defined for the [container membership properties](https://www.w3.org/TR/rdf-schema/#ch_containermembershipproperty).

A possible solution could be returning no value when the resulting property has an index <= 0

[2022-08-11 11:20] luigi-asprino commented on #291
With [ea94a0e](https://github.com/SPARQL-Anything/sparql.anything/commit/ea94a0edd3cb9c69c514c13d5a824a8bb80e0ffb) the method FXFunction.asContainerMembershipProperty checks the consistency of the property to be created (simply checks that the number is > 0) before returning the property

[2022-08-11 11:20] #291 closed, assigned to nobody

[2022-08-12 17:59] justin2004 commented on #266
let me see if i can reproduce this tomorrow. if i can't then we can move it to the next milestone.

[2022-08-12 20:00] justin2004 commented on #88
@enridaga
One thing we could do...

Apache Jena can parse SPARQL ([to pretty print it](https://github.com/justin2004/sparql_pretty/blob/master/Dockerfile#L7)) and when it does it removes comments.
So we could run that on the query then do variable substitution.

[2022-08-13 17:34] luigi-asprino opened #293 "Refactoring FacadeXOpExecutor class"
The class is huge and addresses several concerns: extracting properties from BGP/SERVICE URI, building dataset graph, instantiating slicer, and executing the query.
IMO the class is supposed to focus only on the execution of the query and should delegate the rest to other classes.

The other thing is that the `execute(final OpBGP opBGP, QueryIterator input)` and `execute(final OpService opService,

[2022-08-13 17:40] luigi-asprino commented on #293
[63a3f3d](https://github.com/SPARQL-Anything/sparql.anything/commit/63a3f3d2434b46b5b36547ac8aeb23a207168041) improves the separation of concerns of the engine.
Now, FacadeXOpExecutor delegates
- the creation of the dataset graph to the class DatasetGraphCreator.class
- the extraction of the properties to PropertyUtils.class
- the logic for slicing the source to QueryIterSlicer.class

I leave the

[2022-08-17 14:24] luigi-asprino commented on #63
It seems that service silent doesn't work as expected when the execution is delegated to execute(OpBGP,QueryIterator)
In fact, the keyword is provided at service level, but it is not propagated if the execution is delegated to execute(OpBGP,QueryIterator). This could occur in case the BGP contains magic properties (e.g. fx:anySlot).
This has not created any problems so far because the exception  i

[2022-08-17 14:41] luigi-asprino commented on #63
With [b10ae5d](https://github.com/SPARQL-Anything/sparql.anything/commit/b10ae5dcd6e8367a93fbb1b4c7ebcc221951bf22) FacadeXExecutionContext has a silent field which is set as true in the case that the SILENT keyword is provided.
The field is then used in the execution of the BGP.

[2022-08-17 14:41] #63 closed

[2022-08-17 16:56] luigi-asprino commented on #293
[0596aa2](https://github.com/SPARQL-Anything/sparql.anything/commit/0596aa245932fca0f5f059dd97ca6b2310141971) concludes the major refactoring of the FacadeXOpExecutor class.

Now, the methods of the class concern only the execution of the query.
It implements the general workflow and delegates triplification, slicing, property extraction, BGP manipulation to DatasetGraphCreator, QueryIterSlice, Pr

[2022-08-18 07:22] luigi-asprino commented on #293
I've created two flowcharts for describing the workflow of the execute(OpService, QueryIterator) and execute(OpBGP, QueryIterator)

![FacadeXOpExecutorWorkflow_execute_service](https://user-images.githubusercontent.com/11695205/185334001-869587c2-f4d2-46a3-b076-481859c65e2e.png)

![FacadeXOpExecutorWorkflow_execute_BGP](https://user-images.githubusercontent.com/11695205/185333962-2b01b60a-6986-498

[2022-08-18 07:30] luigi-asprino commented on #293
I close this issue as it seems to me that there is no further refactoring operation we can do

[2022-08-18 07:30] #293 closed, assigned to luigi-asprino

[2022-08-18 07:58] luigi-asprino opened #294 "Copyright year to be updated"

[2022-08-18 08:18] luigi-asprino commented on #294
Closed this as completed in [4f8a4f2](https://github.com/SPARQL-Anything/sparql.anything/commit/4f8a4f2456da5389246fc305d096ec0bba5427e5)

[2022-08-18 08:18] #294 closed, assigned to nobody

[2022-08-27 07:57] luigi-asprino opened #295 "ondisk and slicing"
Enabling slicing with ondisk makes the engine open too many files (a new TDB is created for each slice) and the execution fails.

[code]

I'm not sure how to solve this. Maybe, we could just document this behaviour and suggest setting ondisk.reuse as "true" in case of sliced execution.
Alternatively, we could enforce by default ondisk.reuse=true when slicing is true.

[2022-08-27 15:26] luigi-asprino commented on #295
Actually, slicing and ondisk don't work as expected.

The query

[code]

gives

[code]

instead of

[code]

[2022-08-28 13:52] justin2004 commented on #295
what if you add `graph ?g` -- does that get bindings?

[2022-08-30 06:46] luigi-asprino commented on #295
Yes, I can get the bindings by adding the graph variable, but I would avoid this, otherwise the same query (without the graph) would give different results with ondisk.
This issue occurred for non-slicing execution (#280).
I was able to address it by telling the engine to consider the union graph of the TDB as the active graph on which evaluate the query.
I tried the same with sliced execution but

[2022-08-31 13:54] enridaga opened #296 "Use OS-independent temp dir"
References to "/tmp" should be replaced by `System.getProperty("java.io.tmpdir")`

[2022-08-31 14:02] enridaga opened #297 "wrap log only code in condition in DatasetGraphCreator"
These lines:
[code]

[2022-08-31 14:33] enridaga opened #298 "IT tests failing after executor refactoring"
As the summary says

[2022-08-31 15:09] enridaga commented on #298
Apparently, after using the ondisk option, subsequent tests are failing. I isolated `testIssue280` and `testIssue284`. 284 runs smoothly if executed alone. The test class we are focusing on now is IssuesTest2

[2022-08-31 15:21] luigi-asprino commented on #298
the BaseFacadeXGraphBuilder uses static fields https://github.com/SPARQL-Anything/sparql.anything/blob/70c402a7093a8b7d82b6840323f6cc6422122201/sparql-anything-model/src/main/java/com/github/sparqlanything/model/BaseFacadeXGraphBuilder.java#L42

maybe the problem depends on this?

[2022-08-31 15:22] luigi-asprino commented on #298
This
https://github.com/SPARQL-Anything/sparql.anything/blob/70c402a7093a8b7d82b6840323f6cc6422122201/sparql-anything-model/src/main/java/com/github/sparqlanything/model/BaseFacadeXGraphBuilder.java#L58
Shouldn't it be !BaseFacadeXGraphBuilder.previousTDB2Path.equals("")?

[2022-08-31 15:39] luigi-asprino commented on #298
This [8c6de26](https://github.com/SPARQL-Anything/sparql.anything/commit/8c6de265aca3031651fcbccec34b386509399cd4) removes the static fields from the class BaseFxGraphBuilder.
Tests in IssuesTest2 don't fail anymore

[2022-08-31 15:56] luigi-asprino commented on #298
We can close this issue if there are no other tests failing.

[2022-08-31 18:29] luigi-asprino opened #299 "Remove dataset field in BaseFacadeXGraphBuilder class"
It is only used to check if the dataset graph created is a TDB2 or not.
We can replace it with a boolean `isTBD`.

[2022-08-31 18:31] luigi-asprino commented on #299
Close as it is completed with [359fd67](https://github.com/SPARQL-Anything/sparql.anything/commit/359fd67720ad8946874278f5bb24b0030eca40b1)

[2022-08-31 18:31] #299 closed, assigned to nobody

[2022-08-31 21:11] luigi-asprino opened #300 "ondisk property and BaseFacadeXGraphBuilder.previousTDB2Path"
I would like to discuss a few design choices related to ondisk feature.
This issue relates to the PR #185 issues #280 #295 #296 and #298 (at least).

First, why do we need BaseFacadeXGraphBuilder.previousTDB2Path field?
The BaseFacadeXGraphBuilder is instantiated once for each query execution.
Therefore, in the case that field is static the previous path might point to a TDB used for a previous qu

[2022-09-01 13:45] justin2004 commented on #300
if the user specifies the `ondisk.reuse` option we need to know where that TDB2 (used in a previous query) lived on the disk so that we can reuse it. we aren't reusing the whole `/tmp` directory, we are reusing the specific TDB2 e.g. `/tmp/3477575753` and we need to store that directory name somewhere.

i think your suggestions are good. :+1:

[2022-09-01 14:19] enridaga commented on #300
I agree with removing the static fields and ask the users to point at the TDB2 folder to be reused. Consider also that static fields won't be a solution for the CLI. Also, I would avoid generating temporary folders and ask the user where they want to store the temporary database and if they want it to be deleted at the end of the process or not.

[2022-09-01 14:50] luigi-asprino commented on #300
Ok, so we all agree to remove the static fields. Maybe, we can also avoid `ondisk.path` and use `ondisk` for passing the path of the TDB explicitly.
And also avoid the generation of the temporary path for the TDB2 and leave the user to point at the TDB2 folder explicitly, so there is no need to store the previous TDB path.
Great! I proceed with the implementation of these changes.

[2022-09-01 17:41] luigi-asprino opened #301 "Default values of options to be stored as IRIArgument field"
This would avoid some magic strings in the code

[2022-09-01 17:43] luigi-asprino commented on #301
Closed as it is completed via [6e655b6](https://github.com/SPARQL-Anything/sparql.anything/commit/6e655b6c1666ed1a29072c9c087e3b45325bc495)

[2022-09-01 17:43] #301 closed, assigned to nobody

[2022-09-01 19:07] luigi-asprino opened #302 "Simplify the extraction of Properties"
There are a lot of

[code]

This can be implemented as a static method that implements this pattern.

[2022-09-02 14:10] enridaga commented on #210
This may be trivial for some formats:

- Turtle (and Star...)
- N-Quads (and Star...)
- N-Triples (and Star...)
- Trig (and Star...)

Also, raise an error or stop if any other format is requested.
Future work (issues to open) is to add support for tabular data output (CSV only)

[2022-09-02 14:11] enridaga commented on #210
Other formats may require to join the whole data in memory, which could be problematic in some scenarios (but we can still support it)

[2022-09-04 14:06] luigi-asprino commented on #302
[728bd11](https://github.com/SPARQL-Anything/sparql.anything/commit/728bd11eca4ad25ca7aab6b2811d86a75cc9a1e2) adds static methods to PropertyUtils to simplify the extraction of integer/boolean/string properties

[2022-09-04 14:06] #302 closed, assigned to nobody

[2022-09-04 14:17] luigi-asprino opened #304 "Move PropertyUtils to sparql-anything-model module so as it can be referenced from any other module"

[2022-09-04 14:33] luigi-asprino commented on #304
PropertyUtils in "engine" module has been renamed as PropertyExtractor as it contains only static methods that support FacadeXOpExecutor.

A new class PropertyUtils has been created in the "model" module. This class contains the methods for facilitating the access to Properties (see #302)

[2022-09-04 14:34] #304 closed, assigned to nobody

[2022-09-04 16:02] luigi-asprino commented on #300
With [f1355c0](https://github.com/SPARQL-Anything/sparql.anything/commit/f1355c0e8d9e846e43e3e7a53711e963bd9cd99b) the creation of the DatasetGraph is as follows.
If the `ondisk` property is set, a TDB is created at the location passed as a value (in the case that `ondisk.reuse` is set as false, the location is deleted before creating the TBD).
By default, `ondisk.reuse` is true (I think that fals

[2022-09-04 16:02] luigi-asprino commented on #300
I close this issue as it is completed via [f1355c0](https://github.com/SPARQL-Anything/sparql.anything/commit/f1355c0e8d9e846e43e3e7a53711e963bd9cd99b)

[2022-09-04 16:02] #300 closed, assigned to nobody

[2022-09-04 16:03] luigi-asprino commented on #296
I close this issue as it is completed via [f1355c0](https://github.com/SPARQL-Anything/sparql.anything/commit/f1355c0e8d9e846e43e3e7a53711e963bd9cd99b)

[2022-09-04 16:03] #296 closed, assigned to nobody

[2022-09-04 16:03] luigi-asprino commented on #298
I close this issue as it is completed via [f1355c0](https://github.com/SPARQL-Anything/sparql.anything/commit/f1355c0e8d9e846e43e3e7a53711e963bd9cd99b)

[2022-09-04 16:03] #298 closed, assigned to nobody

[2022-09-04 16:03] luigi-asprino commented on #295
I close this issue as it is completed via [f1355c0](https://github.com/SPARQL-Anything/sparql.anything/commit/f1355c0e8d9e846e43e3e7a53711e963bd9cd99b)

[2022-09-04 16:03] #295 closed, assigned to nobody

[2022-09-07 08:59] RiX012 opened #305 "[XLSX] Possibility to work with values instead of formulas"
Hi, thanks for your amazing work.

The only drawback I find is that when working with spreadsheets with formulas, the formula itself becomes the literal. Not the calculated value. Is this maybe an option (to be added) in the transformer? Or any smart way to circumvent this?

Thanks

[2022-09-07 13:34] justin2004 commented on #305
Hi @RiX012 ,
This might not be a good long term solution but if you save the sheet as a csv does that perform and save the result of the calculations?

[2022-09-07 14:45] RiX012 commented on #305
It does for sure. And so does `Copy` and `Paste as Values`. This is a fine workaround. It however does not provide a solution for more 'dynamic' spreadsheets and indeed a long term solution.

[2022-09-07 18:19] justin2004 commented on #305
it looks like apache poi (the library sparql anything uses to interact with spreadsheets) does have functionality to evaluate a formula:
https://poi.apache.org/components/spreadsheet/eval.html

[2022-09-07 20:17] luigi-asprino commented on #305
Hi,

Thanks for reaching out!
SPARQL Anything relies on Apache Poi library for accessing spreadsheet.
As far as I understand, the library has its own facilities for evaluating
formulas but this is not currently exploited by SA
https://poi.apache.org/components/spreadsheet/eval.html

I think we can rework the triplication of the spreadsheets for integrating
this feature.
Maybe, the evaluation of th

[2022-09-07 20:21] luigi-asprino commented on #305
As Justin already said :-)

Il mer 7 set 2022, 22:16 Luigi Asprino ***@***.***> ha scritto:

[2022-09-08 06:41] RiX012 commented on #305
That would be absolutely fabulous. Thanks for considering this feature! If I can be of any assistance please let me know.

[2022-09-08 15:07] enridaga commented on #265
I believe this is fixed.

[2022-09-08 15:07] #265 closed, assigned to nobody

[2022-09-08 15:09] enridaga commented on #247
I think we can close this one.

[2022-09-08 15:09] #247 closed, assigned to nobody

[2022-09-08 15:12] enridaga commented on #247
The CLI parameter `--input|-i` is being deprecated (see #277) The same functionality is available with option `--values|-v` that now also accept a single SPARQL result set file.

[2022-09-08 15:18] enridaga commented on #266
I suspect that this problem may be resolved after #298 #299 and #300

[2022-09-08 15:19] enridaga opened #306 "Prepare release v0.8.0"
I think we are ready for the next release, as soon as #266 is resolved.

[2022-09-14 09:09] luigi-asprino commented on #305
With [43f2d5d](https://github.com/SPARQL-Anything/sparql.anything/commit/43f2d5d4be7fe91029cdc1e17ed7508e80e29e69) the tool becomes sensible to the option `spreadsheet.evaluate-formulas`. If set as `true`, the spreadsheet triplifier evaluates the formulas of the spreadsheet at the given location before generating the triples and the result of the evaluation will be provided in the corresponding sl

[2022-09-14 09:09] luigi-asprino commented on #305
Closing as it is completed via [b467a55](https://github.com/SPARQL-Anything/sparql.anything/commit/b467a559b5e8603588d770da4d17ffe46a2674e7)

[2022-09-14 09:09] #305 closed, assigned to luigi-asprino

[2022-09-14 09:24] enridaga commented on #266
@MarcoR1791 can you please try again with the latest version of branch `v0.8-DEV` -- the problems may have disappeared after the recent changes (or it would be useful to check if we get new/different problems).

[2022-09-15 11:04] MarcoR1791 commented on #266
Hi Enrico,

I'm afraid the problem persists. I've just obtained the following:

Tests in error:
  testWithOnDiskGraph1(com.github.sparqlanything.csv.CSVTriplifierTest): 1 exceptions: [java.io.IOException: Unable to delete file: C:\Users\Marco\GitProjects\sparql.anything\sparql-anything-csv\target\test-classes\testOndiskGraph1\Data-0001]
  testWithOnDiskGraph2(com.github.sparqlanything.csv.CSVTripl

[2022-09-16 08:28] RiX012 commented on #305
Awesome. Rapid response. Again, many thanks.

[2022-09-16 09:06] luigi-asprino commented on #266
Let me see if I can reproduce the errors.
I'm installing Windows 10 on a Virtual Machine.

[2022-09-21 14:15] luigi-asprino commented on #266
It seems that the test fails because it raises an exceptions when it tries to delete the temporary folder for the TDB (which, for an unknown reason, results in-use [here](https://github.com/SPARQL-Anything/sparql.anything/blob/b467a559b5e8603588d770da4d17ffe46a2674e7/sparql-anything-csv/src/test/java/com/github/sparqlanything/csv/CSVTriplifierTest.java#L162) ).
We can change deleteDirectory(tmp) w

[2022-09-21 14:32] luigi-asprino commented on #266
With [be26802](https://github.com/SPARQL-Anything/sparql.anything/commit/be26802447317d764be09a09bb311eecb7d9abb9) the tests don't fail anymore on my Win10 VM, so I think we can close the issue and proceed with the release #306.
Please @MarcoR1791 let us know if you still experience the problem.

[2022-09-21 14:51] enridaga commented on #306
I am going to prepare the release now.

[2022-09-21 15:38] #306 closed, assigned to enridaga

[2022-09-21 15:38] enridaga opened #307 "Prepare v0.9-DEV branch"

[2022-09-22 10:06] enridaga opened #308 "[Spreadsheet] Composite cell values"
Currently, cell values are limited to simple datatypes such as number, string, boolean.
However, sometimes cell include richer content, for example, links.
We could apply the facade to such content and make those links accewssible.

[2022-09-22 10:54] luigi-asprino commented on #308
Could you post an example?

[2022-09-22 12:40] enridaga commented on #308
I created a test and developed a basic transformation (which should be reviewed for consistency, some decisions I am not 100% sure)

[2022-09-22 12:41] enridaga commented on #308
The general point is to support the case where cells require a complex description, I have added a property `spreadsheet.composite-values` that makes the cell be triplified as a container rather than a literal value.

[2022-09-22 14:51] MarcoR1791 commented on #266
Hi @luigi-asprino, @enridaga

I've run the 'mvn clean install' and the csv tests pass. There is however a new failure at the markdown triplifier test:

Results :

Failed tests:   testFencedCodeBlock(com.github.sparqlanything.markdown.MARKDOWNTriplifierTest)
  testYamlFrontMatter(com.github.sparqlanything.markdown.MARKDOWNTriplifierTest)
  testIndentedCodeBlock(com.github.sparqlanything.markdown.MA

[2022-09-22 15:44] luigi-asprino commented on #266
Yes, please.
Could you please also report the message error?

[2022-09-23 11:15] luigi-asprino commented on #308
I also made the triplifier extract comments that might be attached to the cells

[2022-09-23 11:37] luigi-asprino commented on #308
I've also updated the documentation https://github.com/SPARQL-Anything/sparql.anything/blob/v0.9-DEV/formats/Spreadsheet.md#spreadsheetcomposite-values

[2022-09-25 15:46] luigi-asprino opened #309 "Markdown tests fail on windows due to line ending different from unix one"
This relates to #266
DOS line ending is `\r\n` while Unix is `\n`

https://www.cs.toronto.edu/~krueger/csc209h/tut/line-endings.html#:~:text=Text%20files%20created%20on%20DOS,(%22%5Cn%22).

Therefore, the expected graph contains `\r\n` as line-ending and the graph generated on windows has just `\n`.

[2022-09-26 10:02] luigi-asprino commented on #309
On my mac (and on the remote repository I suppose) the input files of the tests contain only line feed characters (`\n`).
But, after pulling the files on windows, the line ending becomes `\r\n`.
Therefore, I thought that there must be something in git to control how the line endings are handled.
I found that this can be controlled via .gitattributes file https://docs.github.com/en/get-started/gett

[2022-09-26 11:13] luigi-asprino commented on #309
I cloned the repository from scratch on windows.
I re-run the tests in the markdown module which seem to be working.
I'm going to close the issue.

[2022-09-26 11:13] #309 closed, assigned to nobody

[2022-09-26 11:15] luigi-asprino commented on #266
@MarcoR1791, please have a look at #366.
I think the problem has been solved with that issue.

[2022-09-26 17:59] MarcoR1791 commented on #266
Hi @luigi-asprino.

Just cloned a fresh copy of the software and tried to install it. The markdown issue has been fixed but there is a new one when testing archive:

Results :

Failed tests:   testMatches(com.github.sparqlanything.zip.test.FolderTriplifierTest): expected:<[, test.txt, test.csv, test.xml]> but was:<[]>

Stack trace:

Running com.github.sparqlanything.zip.test.FolderTriplifierTest
f

[2022-09-27 14:01] luigi-asprino commented on #266
This is strange because the test passes on my VM.

[2022-10-05 19:52] justin2004 commented on #113
It seems I was wrong about that. I just tried to use a predicate like `xyz:classification%20one` in a query and it works fine. Also it is valid turtle to use that as well although Jena doesn't produce it.

[2022-10-05 21:19] justin2004 opened #310 "Minimal URI confusion (in README)"
In the README there is:
[code]

and there is an example that uses that scheme with `https://` but for completeness it would help to have a `file://` example right by it.

Without that it is natural for users to want to try:
[code]
and get an ERROR:
[code]

While this does work:
[code]

[2022-10-09 18:17] enridaga opened #311 "Upgrade JSoup to 1.15.3"
Fixed in 7c9e7328cf7c3318fdcefd86ae700f34f6a26f82

[2022-10-13 10:31] lolgab opened #312 "Support cursor based paginated JSON APIs"
Some paginated APIs use cursors to allow users to iterate on their results.
The first page returns the data with a cursor which you can use to build the URL for the next page (or an URL itself).
https://jsonapi.org/profiles/ethanresnick/cursor-pagination/

I imagine supporting something like this generically is very hard thought.

Ideally, after telling sparql-anything how pagination works, if an

[2022-10-13 19:26] justin2004 commented on #312
@lolgab
I've handled pagination in a single SPARQL query before:
https://github.com/justin2004/weblog/tree/master/dynamic_pagination_with_sparql_anything

That approach might be useful to you.

[2022-10-14 09:51] enridaga opened #313 "Upgrade commons-text to 1.10.0"
See https://github.com/SPARQL-Anything/sparql.anything/security/dependabot/5

[2022-10-14 09:51] #313 closed, assigned to enridaga

[2022-10-14 10:13] enridaga opened #314 "Upgrade metadata-extractor to v2.18.0"
Attempting to fix https://github.com/SPARQL-Anything/sparql.anything/security/dependabot/1

[2022-10-14 10:14] #314 closed, assigned to enridaga

[2022-10-14 10:15] enridaga commented on #314
Nicely, this fixed both

- https://github.com/SPARQL-Anything/sparql.anything/security/dependabot/1
- https://github.com/SPARQL-Anything/sparql.anything/security/dependabot/2

[2022-10-21 13:27] enridaga opened #315 "Broken build on HTML tests"
See https://github.com/SPARQL-Anything/sparql.anything/actions/runs/3249176449

That test is working on my local environment, though.

[2022-10-21 14:22] justin2004 commented on #315
@enridaga you could reproduce it in the [Docker container](https://github.com/SPARQL-Anything/sparql.anything/blob/v0.9-DEV/BROWSER.md).

[2022-10-21 14:23] enridaga commented on #315
Good point!

[2022-10-21 14:49] luigi-asprino commented on #315
I made the diff of the expected and obtained graphs

expected - obtained (this is what is in the expected and not in the obtained)
[code]

obtained - expected
[code]

[2022-10-21 14:55] luigi-asprino commented on #315
These are the complete graphs

[code]

Obtained

[code]

[2022-10-21 15:23] luigi-asprino commented on #315
Maybe there is something wrong in the expected file
The IRI
``</Users/ed4565/Development/sparql-anything/sparql.anything/sparql-anything-html/target/test-classes/Microdata1.html>`` looks strange to me.. shouldn't be there

[2022-10-21 15:59] enridaga commented on #315
Well spotted! This is silly indeed... I am going to fix that

[2022-10-21 16:58] enridaga commented on #315
How was that working before?!

[2022-10-21 17:15] enridaga commented on #315
The test file Microdata1.nq in old revisions did not mention the file URL but instead `<location>` but I don't know why the AbstractTestUtils.class is instead generating the file url...

[sparql-anything-html/src/test/resources/Microdata1.nq](https://github.com/SPARQL-Anything/sparql.anything/commit/dcc589e8cfffe681014ea883def4ab8b4b5481ab#diff-d485aab5a800f00e77362ca7feaed20fd1aa77e10de05e84a05b9

[2022-10-21 17:26] enridaga commented on #315
I disabled the test until we figure out what's happening to allow the build to proceed

[2022-10-24 10:25] enridaga commented on #315
I missed the fact hat the test RDF file should include a placeholder `<location>` that then is replaced at runtime by the test class.

[2022-10-24 10:25] #315 closed, assigned to nobody

[2022-10-24 11:18] enridaga opened #316 "IT ondisk tests references to /tmp are non-portable"
As the summary says, they break on platforms without an accessible `/tmp` path

[2022-10-24 11:20] enridaga commented on #316
May also be the cause of #266

[2022-10-24 11:21] #297 closed, assigned to enridaga

[2022-10-24 11:22] #316 closed, assigned to enridaga

[2022-10-25 08:33] enridaga commented on #312
@lolgab I've handled pagination in the past on APIs that used a param with incremental numbers, e.g. pagesize + page.
See this showcase for a full example: https://github.com/SPARQL-Anything/showcase-minter

However, the cursor pattern seems interesting, do you have a sense of how much use there is of this in other APIs? I ask because the behaviour required sounds a bit esoteric (get a value from